// base colors
$color_WSU_Crimson: rgba(152, 30, 50, 1);
$color_shark_approx: rgba(38, 42, 45, 1);
$color_WSU_Gray: rgba(94, 106, 113, 1);

$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);
$blue: rgba(0, 0, 255, 1);
$red: rgba(255, 0, 0, 1);

// alphas
$black_25: rgba(0, 0, 0, .25);
$black_35: rgba(0, 0, 0, 0.35);
$black_55: rgba(0, 0, 0, 0.55);
$black_64: rgba(0, 0, 0, 0.64);
$color_silver_89_approx: rgba(188, 188, 188, 0.89);
$color_mountain_mist_5_approx: rgba(150, 150, 150, 0.05);
$color_rangoon_green_25_approx: rgba(25, 25, 25, .25);
$gray_50_75: rgba(50, 50, 50, 0.75);

//greys
$gray_34: rgba(34, 34, 34, 1);
$textshadow: rgba(30, 30, 30, 0.40);
$textshadow_hover: rgba(30, 30, 30, 0.40);
$gray_50: rgba(50, 50, 50, 1);
$gray_68: rgba(68, 68, 68, 1);
$gray_73: rgba(73, 73, 73, 1);
$gray_85: rgba(85, 85, 85, 1);
$gray_88: rgba(88, 88, 88, 1);
$gray_102: rgba(102, 102, 102, 1);
$gray_119: rgba(119, 119, 119, 1);
$gray_136: rgba(136, 136, 136, 1);
$gray_164: rgba(164, 164, 164, 1);
$gray_204: rgba(204, 204, 204, 1);
$gray_221: rgba(221, 221, 221, 1);
$gray_228: rgba(228, 228, 228, 1);
$gray_233: rgba(233, 233, 233, 1);
$gray_237: rgba(237, 237, 237, 1);
$gray_241: rgba(241, 241, 241, 1);
$gray_242: rgba(242, 242, 242, 1);
$gray_244: rgba(244, 244, 244, 1);
$gray_246: rgba(246, 246, 246, 1);
$gray_251: rgba(251, 251, 251, 1);
$gray: #5E6A71;
$gray-light: #8d959a;

//off grey
$color_silver_sand_approx: rgba(190, 195, 198, 1);
$color_westar_approx: rgba(217, 221, 211, 1);
$color_stack_approx: rgba(142, 141, 139, 1);
$color_spring_wood_approx: rgba(249, 245, 240, 1);



$color_almond_approx: rgba(237, 220, 204, 1);
$color_athens_gray_approx: rgba(238, 239, 241, 1);
$color_bamboo_approx: rgba(226, 103, 3, 1);
$color_big_stone_approx: rgba(27, 45, 59, 1);
$color_boston_blue_approx: rgba(46, 138, 184, 1);
$color_brandy_punch_approx: rgba(211, 130, 53, 1);
$color_bright_sun_approx: rgba(252, 211, 68, 1);
$color_cape_cod_approx: rgba(59, 64, 68, 1);
$color_cararra_approx: rgba(242, 239, 233, 1);
$color_cedar_wood_finish_approx: rgba(117, 29, 2, 1);
$color_charade_approx: rgba(42, 48, 51, 1);
$color_chenin_approx: rgba(204, 204, 115, 1);
$color_chestnut_rose_approx: rgba(214, 86, 86, 1);
$color_chocolate_approx: rgba(51, 0, 0, 1);
$color_chrome_white_approx: rgba(230, 247, 215, 1);
$color_clementine_approx: rgba(228, 107, 0, 1);
$color_coriander_approx: rgba(192, 210, 175, 1);
$color_curious_blue_approx: rgba(51, 153, 204, 1);
$color_dell_approx: rgba(61, 102, 17, 1);
$color_dolly_approx: rgba(255, 255, 144, 1);
$color_fern_approx: rgba(100, 177, 105, 1);
$color_feta_approx: rgba(244, 249, 234, 1);
$color_firefly_approx: rgba(10, 38, 60, 1);
$color_french_gray_approx: rgba(182, 188, 191, 1);
$color_gable_green_approx: rgba(32, 54, 57, 1);
$color_geyser_approx: rgba(217, 221, 227, 1);
$color_green_leaf_approx: rgba(57, 111, 0, 1);
$color_grenadier_approx: rgba(223, 40, 10, 1);
$color_iron_approx: rgba(207, 212, 215, 1);
$color_jelly_bean_approx: rgba(41, 122, 163, 1);
$color_la_rioja_approx: rgba(182, 191, 0, 1);
$color_limeade_approx: rgba(103, 145, 0, 1);
$color_linen_approx: rgba(250, 235, 231, 1);
$color_link_water_approx: rgba(217, 229, 238, 1);
$color_mango_tango_approx: rgba(232, 116, 3, 1);
$color_merino_approx: rgba(244, 238, 231, 1);
$color_gray_50_approx: rgba(47, 47, 47, 1);
$color_monza_approx: rgba(198, 12, 48, 1);
$color_mountain_mist_approx: rgba(153, 153, 153, 1);
$color_nile_blue_approx: rgba(32, 53, 72, 1);
$color_nobel_approx: rgba(182, 182, 182, 1);
$color_old_brick_approx: rgba(153, 27, 47, 1);
$color_old_rose_approx: rgba(192, 124, 139, 1);
$color_opal_approx: rgba(173, 198, 203, 1);
$color_orange_white_approx: rgba(250, 250, 236, 1);
$color_ottoman_approx: rgba(236, 249, 234, 1);
$color_pacific_blue_approx: rgba(0, 165, 189, 1);
$color_panache_approx: rgba(239, 245, 234, 1);
$color_persimmon_approx: rgba(241, 96, 72, 1);
$color_pink_swan_approx: rgba(184, 184, 184, 1);
$color_portage_approx: rgba(136, 136, 255, 1);
$color_punch_approx: rgba(216, 56, 32, 1);
$color_regal_blue_approx: rgba(0, 60, 105, 1);
$color_sapphire_approx: rgba(31, 71, 153, 1);
$color_scooter_approx: rgba(60, 182, 206, 1);
$color_scotch_mist_approx: rgba(255, 250, 218, 1);
$color_sherpa_blue_approx: rgba(2, 72, 79, 1);
$color_shiraz_approx: rgba(166, 18, 50, 1);
$color_steel_blue_approx: rgba(51, 126, 183, 1);
$color_sulu_approx: rgba(204, 255, 102, 1);
$color_thunderbird_approx: rgba(190, 44, 0, 1);
$color_trinidad_approx: rgba(235, 52, 10, 1);
$color_vis_vis_approx: rgba(255, 241, 168, 1);
$color_whiskey_approx: rgba(203, 155, 110, 1);
$color_white_linen_approx: rgba(248, 241, 235, 1);
$color_william_approx: rgba(63, 107, 114, 1);
$color_zest_approx: rgba(225, 124, 36, 1);
$periwinkle: rgba(204, 204, 255, 1);

