body{
    font-family: "Open Sans","Lucida Sans";
    font-size: 1em;
}

.markdown-body .highlight pre, .markdown-body pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px;
}


/* would want to move this out */	
.markdown-body code, .markdown-body tt {
	margin: 0 2px;
	padding: 0px 5px;
	border: 1px solid #ddd;
	background-color: #f8f8f8;
	border-radius: 3px;
	font-size: 0.8em;
}

.markdown-body code:not(p > code) {
    margin: 0;
    padding: 0;
    white-space: pre;
    border: none;
    background: transparent;
    font-family:Monospace;
}
a{
	color: #4078c0;
}
a:hover{
	text-decoration: underline;
}
.fluid .row.side-left > .column.two,.fluid .row.side-right > .column.one {
    width: 67%
}

.fluid .row.side-left > .column.one,.fluid .row.side-right > .column.two {
    width: 33%
}

body table td, body table th {
    border: 1px solid #888888;
    padding: 5px 10px;
}
h2[id^="repo"][id*="github"] a{
	position:relative;
}
h2[id^="repo"][id*="github"] a:before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	color:#494941;
	text-shadow:0px 0px 7px rgba(0,0,0,0.2);
	top:0px;
	right:-1em;
	font-size: 1.5em;
	line-height:1em;
	content:"\f09b";
	position:absolute;
}
/* anchor linking to match github */
.anchorlink{
	cursor:pointer;
}
.anchorlink:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	color:#494941;
	text-shadow:0px 0px 7px rgba(0,0,0,0.2);
	top:calc( 1em * 50% );
	left:-1em;
	font-size: .5em;
	line-height:2em;
	content:"\f0c1";
	position:absolute;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	transition: all .5s ease-in-out;
	opacity:0;
	z-index:9999999;
}
.anchorlink:hover:before{
	color:#1456A4;
	-webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	transition: all .5s ease-in-out;
	opacity:1;
}


/* light zoom */
 .img_zoom{

    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	z-index:999999;
	display:block;
	position:relative;
	cursor:zoom-in;
}
.img_zoom:not(.transition):hover{
	-webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.25);
	box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.25);
}
.img_zoom img{
	width:100% !important;	
}
.transition:not(.closed) {

    -webkit-transform: scale(1.5); 
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
	
    -webkit-transition: all .1s ease-in-out;
    -moz-transition: all .1s ease-in-out;
    -o-transition: all .1s ease-in-out;
    -ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	
	-webkit-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 24px -1px rgba(0,0,0,0.75);
	cursor:zoom-out;
	position:absolute;
    height: auto;
    border: 1px solid #494949;
    background: #fff;
}
.transition:not(.closed):before {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);	
	color:#FFFFFF;
	background:#700B0D;
	border-radius:25px;
	font-size:15px;
	line-height:18px;
	content:"\f00d";
	z-index:9999999;
	position:absolute;
	top:-7px;
	right:7px;
	padding:0px 2px;
	text-align:center;
	cursor:pointer;
}
.transition:not(.closed):before:hover{
	background:#903737;
}

