<?xml version="1.0"?>
<!--
/**
 * @category	Wsu
 * @package		Wsu_Wsu
 * @author		Wsu
 * @copyright	Copyright 2013 Wsu
 */
-->
<config>
    <modules>
        <Wsu_Wsu>
            <version>0.9.0</version>
        </Wsu_Wsu>
    </modules>
	<!--<admin>
		<routers>
			<infortis>
				<use>admin</use>
				<args>
					<module>Wsu_Wsu</module>
					<frontName>infortis</frontName>
				</args>
			</infortis>
		</routers>
	</admin>-->
    <global>
        <blocks>
            <infortis>
                <class>Wsu_Wsu_Block</class>
            </infortis>
        </blocks>
        <helpers>
            <infortis>
                <class>Wsu_Wsu_Helper</class>
            </infortis>
        </helpers>
        <models>
            <infortis>
                <class>Wsu_Wsu_Model</class>
            </infortis>
        </models>
    </global>
</config>