@import 'vars/global';
@import 'vars/colors';

//@extend-elements
//original selectors
//.slideshow-prev, .slideshow-next
%slideshow_extend_1 {
    position: absolute;
    top: 0;
    width: 15%;
    max-width: 80px;
    height: 100%;
    opacity: 0.6;
    z-index: 110;
    cursor: pointer;
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
}

//original selectors
//.slideshow-prev:before, .slideshow-next:before
%slideshow_extend_2 {
    content: '';
    width: 0;
    height: 0;
    font-size: 0;
    position: absolute;
    border-style: solid;
    display: block;
    top: 50%;
    margin-top: -15px;
}

//original selectors
//.slideshow-prev.disabled, .slideshow-next.disabled
%slideshow_extend_3 {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    opacity: 0.5;
    cursor: default;
}


.slideshow-container {
    position: relative;
    display: block;
    width: 100%;
    margin: 10px 0;
    border: 1px solid $gray_237;
    .slideshow {
        width: 100%;
        padding: 0;
        position: relative;
        margin: 0;
        border: 10px solid $white;
        > li {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 0;
            display: block;
            margin: 0;
            &:first-child {
                position: static;
                z-index: 100;
            }
            img {
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
.slideshow-pager {
    text-align: center;
    width: 100%;
    z-index: 115;
    position: absolute;
    bottom: 0;
    top: auto;
    overflow: hidden;
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
    span {
        font-family: $font_primary;
        width: 44px;
        height: 44px;
        display: inline-block;
        color: $gray_221;
        cursor: pointer;
        &:before {
            content: '';
            display: block;
            width: 16px;
            height: 16px;
            left: 50%;
            top: 50%;
            margin-left: -8px;
            margin-top: -8px;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 1px;
            background-color: $white;
            position: relative;
        }
        &:hover:before {
            background-color: $color_boston_blue_approx;
        }
        &.cycle-pager-active:before {
            background-color: $color_jelly_bean_approx;
        }
    }
    > * {
        cursor: pointer;
    }
}
.slideshow-prev {
    @extend %slideshow_extend_1;
    left: 8px;
    &:before {
        @extend %slideshow_extend_2;
        border-width: 15px 15px 15px 0;
        border-color: transparent $white transparent transparent;
        top: 50%;
        left: 10px;
    }
    &:hover {
        opacity: 1;
        &:before {
            border-color: transparent $color_boston_blue_approx transparent transparent;
        }
    }
    &.disabled {
        @extend %slideshow_extend_3;
    }
}
.slideshow-next {
    @extend %slideshow_extend_1;
    right: 8px;
    &:before {
        @extend %slideshow_extend_2;
        border-width: 15px 0 15px 15px;
        border-color: transparent transparent transparent $white;
        top: 50%;
        right: 10px;
    }
    &:hover {
        opacity: 1;
        &:before {
            border-color: transparent transparent transparent $color_boston_blue_approx;
        }
    }
    &.disabled {
        @extend %slideshow_extend_3;
    }
}
.cycle-caption {
    position: absolute;
    color: $white;
    bottom: 15px;
    right: 15px;
    z-index: 110;
}
.cycle-overlay {
    font-family: $font_secondary, $font_primary;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 120;
    background: $black;
    color: $white;
    padding: 15px;
    opacity: .5;
}
