@import 'vars/global';
@import 'vars/colors';

//urls
$url_0: url(../../default/images/bkg_btn.png);
$url_1: url(images/btn_checkout.gif);
$url_2: url(images/validation_advice_bg.gif);
$url_3: url(images/btn_remove.gif);
$url_4: url(images/btn_previous.gif);
$url_5: url(images/btn_trash.gif);
$url_6: url(images/btn_edit.gif);

//@extend-elements
//original selectors
//input, select, textarea, button
%forms_extend_1 {
    font: 12px/15px $font_primary, $font_secondary, $font_tertiary;
    vertical-align: middle;
    color: $color_gray_50_approx;
}

//original selectors
//.btn-remove:before, .btn-remove2:before
%forms_extend_2 {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 13px;
    text-rendering: auto;
    //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
    transform: translate(0, 0);
    content: "\f014";
}


input {
    @extend %forms_extend_1;
    &.input-text {
        background: $white;
        border: 1px solid $color_nobel_approx;
        padding: 2px;
    }
    &.radio {
        margin-right: 3px;
    }
    &.checkbox {
        margin-right: 3px;
    }
    &.qty {
        width: 2.5em !important;
    }
}
select {
    @extend %forms_extend_1;
    background: $white;
    border: 1px solid $color_nobel_approx;
    padding: 1px;
    option {
        padding-right: 10px;
    }
    &.multiselect option {
        border-bottom: 1px solid $color_nobel_approx;
        padding: 1px 5px;
        &:last-child {
            border-bottom: 0;
        }
    }
}
textarea {
    @extend %forms_extend_1;
    background: $white;
    border: 1px solid $color_nobel_approx;
    padding: 2px;
    overflow: auto;
}
button {
    @extend %forms_extend_1;
}

main .button:not(.bare), main .spine-button:not(.bare), main button:not(.bare), main input[type=submit]:not(.bare), main input[type=reset]:not(.bare), main input[type=button]:not(.bare) {
    position: relative;
    color: #676767;
    height: 30px;
    border-radius: 6px;
    background: #E4E4E4;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(57, 57, 57, 0.42);
    max-width: 250px;
    height: 38px;
    margin: 3px 0px 7px 0px;
    border: 2px #8E8E8E solid;
    line-height: 38px;
    padding: 0px 15px;
    font-weight: 600;
}

main .button:not(.bare):hover, main .spine-button:not(.bare):hover, main button:not(.bare):hover, main input[type=submit]:not(.bare):hover, main input[type=reset]:not(.bare):hover, main input[type=button]:not(.bare):hover{background-color: #a5abb2;}



p {
    &.required {
        font-size: 11px;
        text-align: right;
        color: $color_trinidad_approx;
    }
    &.control input {
        &.checkbox {
            margin-right: 6px;
        }
        &.radio {
            margin-right: 6px;
        }
    }
}
.form-list {
    li {
        margin: 0 0 6px;
        &.control {
            label {
                float: none;
            }
            input {
                &.radio {
                    margin-top: -1px;
                    margin-right: 4px;
                }
                &.checkbox {
                    margin-top: -1px;
                    margin-right: 4px;
                }
            }
            .input-box {
                clear: none;
                display: inline;
                width: auto;
            }
        }
        &.wide {
            .input-box {
                width: 535px;
            }
            textarea {
                width: 529px;
            }
            select {
                width: 535px;
            }
            input.input-text {
                width: 529px;
            }
        }
        &.additional-row {
            border-top: 1px solid $gray_204;
            margin-top: 10px;
            padding-top: 7px;
            .btn-remove {
                float: right;
                margin: 5px 0 0;
            }
        }
    }
    label {
        float: left;
        color: $gray_85;
        font-weight: bold;
        position: relative;
        z-index: 0;
        &.required em {
            float: right;
            font-style: normal;
            color: $color_trinidad_approx;
            position: absolute;
            top: 0;
            right: -7px;
        }
    }
    .input-box {
        display: block;
        clear: both;
        width: 260px;
    }
    .field {
        float: left;
        width: 275px;
    }
    textarea {
        width: 254px;
        height: 10em;
    }
    select {
        width: 260px;
    }
    .customer-name-prefix {
        .input-box {
            width: auto;
        }
        .name-firstname {
            width: 210px;
            input.input-text {
                width: 189px;
            }
        }
    }
    .customer-name-suffix {
        .input-box {
            width: auto;
        }
        .name-lastname {
            width: 205px;
            input.input-text {
                width: 189px;
            }
        }
    }
    .customer-name-prefix-suffix {
        .input-box {
            width: auto;
        }
        .name-firstname {
            width: 210px;
            input.input-text {
                width: 189px;
            }
        }
        .name-lastname {
            width: 205px;
            input.input-text {
                width: 189px;
            }
        }
    }
    .customer-name-prefix-middlename {
        .input-box {
            width: auto;
        }
        .name-firstname {
            width: 140px;
            input.input-text {
                width: 124px;
            }
        }
    }
    .customer-name-middlename-suffix {
        .input-box {
            width: auto;
        }
        .name-firstname {
            width: 205px;
            input.input-text {
                width: 189px;
            }
        }
        .name-lastname {
            width: 205px;
            input.input-text {
                width: 189px;
            }
        }
    }
    .customer-name-prefix-middlename-suffix {
        .input-box {
            width: auto;
        }
        .name-firstname {
            width: 140px;
            input.input-text {
                width: 124px;
            }
        }
        .name-lastname {
            width: 205px;
            input.input-text {
                width: 189px;
            }
        }
    }
    .name-prefix {
        width: 65px;
        select {
            width: 55px;
        }
        input.input-text {
            width: 49px;
        }
    }
    .name-suffix {
        width: 65px;
        select {
            width: 55px;
        }
        input.input-text {
            width: 49px;
        }
    }
    .name-middlename {
        width: 70px;
        input.input-text {
            width: 49px;
        }
    }
    .customer-dob {
        .dob-month {
            float: left;
            width: 85px;
            width: 60px;
            input.input-text {
                width: 46px;
            }
        }
        .dob-day {
            float: left;
            width: 85px;
            width: 60px;
            input.input-text {
                width: 46px;
            }
        }
        .dob-year {
            float: left;
            width: 85px;
            width: 140px;
            input.input-text {
                width: 134px;
            }
        }
        label {
            font-size: 10px;
            font-weight: normal;
            color: $gray_136;
        }
        input.input-text {
            display: block;
            width: 74px;
        }
    }
    input.input-text {
        width: 254px;
    }
    .input-range input.input-text {
        width: 74px;
    }
    .customer-name-middlename .name-firstname {
        width: 210px;
        width: 205px;
        input.input-text {
            width: 189px;
        }
    }
}
.buttons-set {
    clear: both;
    margin: 4em 0 0;
    padding: 8px 0 0;
    border-top: 1px solid $gray_228;
    text-align: right;
    .back-link {
        float: left;
        margin: 0;
    }
    p.required {
        margin: 0 0 10px;
    }
    button.button {
        float: right;
        margin-left: 5px;
    }
}
.buttons-set-order {
    margin: 10px 0 0;
    .please-wait {
        padding: 5px 7px 0 0;
    }
}
.fieldset {
    margin: 0 10px 25px;
    .legend {
        margin: 0 -10px 12px;
        background: $gray_241;
        padding: 2px 10px;
        font-size: 13px;
        line-height: 1.25;
    }
}
.validation-advice {
    clear: both;
    min-height: 13px;
    margin: 3px 0 0;
    padding-left: 13px;
    font-size: 11px;
    line-height: 13px;
    background: $url_2 2px 3px no-repeat;
    color: $color_trinidad_approx;
}
.validation-failed {
    border: 1px solid $color_trinidad_approx !important;
    background: $color_linen_approx !important;
}
.validation-passed {
}
.v-fix {
    float: left;
    .validation-advice {
        display: block;
        width: 12em;
        margin-right: -12em;
        position: relative;
    }
}
.btn-remove {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: $url_3 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    background: none;
    &:before {
        @extend %forms_extend_2;
    }
    &:hover:before {
        color: $color_monza_approx;
    }
}
.btn-previous {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: $url_4 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
}
.btn-remove2 {
    display: block;
    width: 16px;
    height: 16px;
    font-size: 0;
    line-height: 0;
    background: $url_5 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
    background: none;
    &:before {
        @extend %forms_extend_2;
    }
    &:hover:before {
        color: $color_monza_approx;
    }
}
.btn-edit {
    display: block;
    width: 12px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: $url_6 0 0 no-repeat;
    text-indent: -999em;
    overflow: hidden;
}
.captcha-note {
    clear: left;
    padding-top: 5px;
}
.captcha-image {
    float: left;
    display: inline;
    margin: 0;
    position: relative;
    width: 258px;
    .captcha-img {
        border: 1px solid $color_nobel_approx;
        vertical-align: bottom;
        width: 100%;
    }
}
.captcha-reload {
    cursor: pointer;
    position: absolute;
    top: 2px;
    right: 2px;
    &.refreshing {
        animation: rotate 1.5s infinite linear;
    }
}
@-webkit-keyframes rotate {
    0% {
    }
}
@-moz-keyframes rotate {
    0% {
    }
}
@keyframes rotate {
    0% {
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(0);
        //Instead of the line below you could use @include transform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
        transform: rotate(-360deg);
    }
}
xbutton.btn-checkout {
    span {
        height: 28px;
        border: 0;
        background-image: $url_1;
        padding: 0 0 0 6px;
        font: bold 12px/26px $font_primary, $font_secondary, $font_tertiary;
        color: $white;
        span {
            padding: 0 40px 0 34px;
        }
    }
    &.no-checkout span {
        background-position: 0 100%;
        color: $gray_204;
        span {
            background-position: 100% 100%;
        }
    }
}
.form-list-narrow li {
    margin-bottom: 0;
    .input-box {
        margin-bottom: 6px;
    }
    &.wide {
        .input-box {
            width: 260px;
        }
        textarea {
            width: 254px;
        }
        select {
            width: 260px;
        }
        input.input-text {
            width: 254px;
        }
    }
}
#wishlist-table .btn-remove.btn-remove2:before {
    font-size: 18px;
}
.registered-users .captcha-image {
    margin: 0;
}
