@import 'vars/global';
@import 'vars/colors';


//urls
$url_0: url(../images/bkg_pipe1.gif);
$url_1: url(../images/bkg_btn-small.png);

.footer {
	margin: 15px 0 40px;
	a {
		color: $color_tundora_approx;
	}
	.f-left {
		width: 520px;
	}
	.f-right {
		width: 429px;
	}
	ul {
		display: inline;
	}
	li {
		display: inline;
		background: $url_0 100% 50% no-repeat;
		padding: 0 5px 0 0;
		margin: 0 3px 0 0;
	}
	.bugs {
		margin: 0;
		color: $color_storm_dust_approx;
		a {
			font-weight: bold;
			color: $color_tundora_approx;
		}
	}
	address {
		color: $color_storm_dust_approx;
		a {
			color: $color_tundora_approx;
		}
	}
	.form-subscribe {
		margin: 8px 0;
		label {
			float: left;
			padding-top: 2px;
			font-weight: bold;
			color: $color_fuscous_gray_approx;
		}
		.input-box {
			float: left;
			width: 186px;
			margin: 0 5px;
		}
		button.button {
			float: left;
			span {
				height: 23px;
				background-image: $url_1;
				line-height: 20px;
			}
		}
		input.input-text {
			width: 180px;
		}
	}
	.footer-callout {
		display: block;
		margin: -10px 0 10px;
		position: relative;
	}
	.store-switcher {
		color: $color_fuscous_gray_approx;
		text-align: right;
		label {
			font-weight: bold;
			vertical-align: middle;
		}
		select {
			padding: 0;
			vertical-align: middle;
		}
	}
	.links li.last {
		background: none !important;
		padding-right: 0 !important;
	}
}
.footer-container .bottom-container {
	margin: 0 0 8px;
	text-align: right;
}