@import 'vars/global';
@import 'vars/colors';

/* note there should be a typography area */
body{
	font-family: 'Open Sans', "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
	font-style:normal;
	font-size:100%;
	line-height:1.6;
	background:#fff !important;
}


.row-reverse,
.column-reverse,
.flex-row,
.flex-column {
    -js-display: flex;
    display:flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.flex-row{ flex-direction: row; }
.row-reverse { flex-direction: row-reverse; }
.flex-column  { flex-direction: column; }
.column-reverse { flex-direction: column-reverse; }

.wrap { flex-wrap: wrap; }
.nowrap { flex-wrap: nowrap; }
.wrap-reverse { flex-wrap: wrap-reverse; }

.justify-start{ justify-content: flex-start; }
.justify-end{ justify-content: flex-end; }
.justify-center{ justify-content: center; }
.justify-between{ justify-content: space-between; }
.justify-around{ justify-content: space-around; }

.content-start{ align-content: flex-start; }
.content-end{ align-content: flex-end; }
.content-center{ align-content: center; }
.content-baseline{ align-content: baseline; }
.content-end{ align-content: stretch; }

.items-start{ align-items: flex-start; }
.items-end{ align-items: flex-end; }
.items-center{ align-items: center; }
.items-baseline{ align-items: baseline; }
.items-stretch{ align-items: stretch; }

$order: 1 2 3 4 5 6 7 8 9 10 11 12;
@each $current-order in $order {
    $i: index($order, $current-order);
    .order-#{$i} { 
        order: $current-order;
    }
}




/* Set up for row-at-* and column-at ----------- */
@media only screen and (max-width : 320px) {
    .row-at-320{ flex-direction: row; }
    .row-reverse-at-320 { flex-direction: row-reverse; }
    .column-at-320  { flex-direction: column; }
    .column-reverse-at-320 { flex-direction: column-reverse; }
}
@media only screen and (max-width : 480px) {
    .row-at-480{ flex-direction: row; }
    .row-reverse-at-480 { flex-direction: row-reverse; }
    .column-at-480  { flex-direction: column; }
    .column-reverse-at-480 { flex-direction: column-reverse; }
}
@media only screen and (max-width : 768px){
    .row-at-768{ flex-direction: row; }
    .row-reverse-at-768 { flex-direction: row-reverse; }
    .column-at-768  { flex-direction: column; }
    .column-reverse-at-768 { flex-direction: column-reverse; }
}
@media only screen and (max-width : 1024px) {
    .row-at-768{ flex-direction: row; }
    .row-reverse-at-768 { flex-direction: row-reverse; }
    .column-at-768  { flex-direction: column; }
    .column-reverse-at-768 { flex-direction: column-reverse; }
}

$size: 100 150 200 250 300 300 400 450 500 550 600 650 700 750 800 850 900 950 1000 1050 1100 1150 1200;
@each $current-size in $size {
    @media only screen and (max-width : #{$current-size}px) {
        .row-at-#{$current-size}{ flex-direction: row; }
        .row-reverse-at-#{$current-size} { flex-direction: row-reverse; }
        .column-at-#{$current-size}  { flex-direction: column; }
        .column-reverse-at-#{$current-size} { flex-direction: column-reverse; }
    }  
}




.grid-part{
    padding:5px;
    box-sizing: border-box;
}

$size: 33.3333333% 66.6666666% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .thirds-#{$i} { 
        width: $current-size;
    }
}

$size: 25% 50% 75% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .fourths-#{$i} { 
        width: $current-size;
    }
}
$size: 20% 40% 60% 80% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .fifths-#{$i} { 
        width: $current-size;
    }
}
$size: 16.6666666% 33.3333333% 50% 66.6666666% 83.3333333% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .sixths-#{$i} { 
        width: $current-size;
    }
}

$size: 12.5% 25% 37.5% 50% 62.5% 75% 87.5% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .eigths-#{$i} { 
        width: $current-size;
    }
}

$size: 11.1111111% 22.2222222% 33.3333333% 44.4444444% 55.5555555% 66.6666666% 77.7777777% 88.8888888% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .ninths-#{$i} { 
        width: $current-size;
    }
}


$size: 10% 20% 30% 40% 50% 60% 70% 80% 90% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .tenths-#{$i} { 
        width: $current-size;
    }
}

$size: 8.3333333% 16.6666666% 25% 33.3333333% 41.6666666% 50% 58.3333333% 66.6666666% 75% 83.3333333% 91.6666666% 100%;
@each $current-size in $size {
    $i: index($size, $current-size);
    .twelfths-#{$i} { 
        width: $current-size;
    }
}

















.wrapper {
}
.page {
    width: 960px;
    margin: 15px auto 0;
    text-align: left;
}
.page-print {
    background: $white;
    padding: 25px 30px;
    text-align: left;
}
.page-empty {
    background: $white;
    padding: 20px;
    text-align: left;
}
.page-popup {
    background: $white;
    padding: 25px 30px;
    text-align: left;
}
.main-container {
}
.main {
    background: $white;
    border: 1px solid $color_pink_swan_approx;
    border-top: 0;
    border-bottom-color: $gray_102;
    padding: 16px 16px 50px;
    min-height: 350px;
}
.col-left {
    float: left;
    width: 220px;
    padding: 0 0 1px;
}
.col-main {
    float: left;
    width: 686px;
    padding: 0 0 1px;
}
.col-right {
    float: right;
    width: 220px;
    padding: 0 0 1px;
}
.col1-layout {
    .main {
        padding: 16px 30px 40px;
    }
    .col-main {
        float: none;
        width: auto;
    }
}
.col3-layout {
    .col-main {
        width: 452px;
    }
    .col-wrapper {
        float: left;
        width: 689px;
        .col-main {
            float: right;
        }
    }
}
.col2-set {
    .col-1 {
        float: left;
        width: 48.5%;
    }
    .col-2 {
        float: right;
        width: 48.5%;
    }
    .col-narrow {
        width: 32%;
    }
    .col-wide {
        width: 65%;
    }
}
.col3-set {
    .col-1 {
        float: left;
        width: 32%;
    }
    .col-2 {
        float: left;
        width: 32%;
        margin-left: 2%;
    }
    .col-3 {
        float: right;
        width: 32%;
    }
}
.col4-set {
    .col-1 {
        float: left;
        width: 23.5%;
    }
    .col-2 {
        float: left;
        width: 23.5%;
        margin: 0 2%;
    }
    .col-3 {
        float: left;
        width: 23.5%;
    }
    .col-4 {
        float: right;
        width: 23.5%;
    }
}
.col2-left-layout .col-main {
    float: right;
}
.col2-right-layout .col-main {
}
