@import 'vars/global';
@import 'vars/colors';

//colors
$color_gray_approx: rgba(127, 127, 127, 1);
$color_thunderbird_approx: rgba(214, 37, 2, 1);
$color_tundora_approx: rgba(68, 68, 68, 1);
$color_celeste_approx: rgba(204, 204, 204, 1);
$color_alto_approx: rgba(221, 221, 221, 1);
$color_black_haze_approx: rgba(246, 246, 246, 1);
$color_big_stone_approx: rgba(27, 45, 59, 1);
$color_ottoman_approx: rgba(236, 249, 234, 1);
$color_zest_approx: rgba(225, 124, 36, 1);
$color_green_leaf_approx: rgba(79, 129, 0, 1);

//urls
$url_0: url(../images/i_print.gif);
$url_1: url(../../images/i_rss.gif);
$url_2: url(../../images/i_rss-big.png);

//@extend-elements
//original selectors
//.subtitle, .sub-title
%extend_1 {
	clear: both;
	padding: 12px 0 0;
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 6px;
}


.breadcrumbs {
	a {
		color: $color_gray_approx;
	}
	li {
		display: inline;
		strong {
			font-weight: bold;
		}
	}
}
.page-title {
	width: 100%;
	overflow: hidden;
	margin: 0 0 16px;
	h1 {
		font-size: 23px;
		font-weight: normal;
	}
	h2 {
		font-size: 23px;
		font-weight: normal;
	}
	.separator {
		margin: 0 3px;
	}
	.link-rss {
		float: right;
		margin: 7px 0 0;
	}
}
.title-buttons {
	text-align: right;
	h1 {
		float: left;
	}
	h2 {
		float: left;
	}
	h3 {
		float: left;
	}
	h4 {
		float: left;
	}
	h5 {
		float: left;
	}
	h6 {
		float: left;
	}
}
.subtitle {
	@extend %extend_1;
}
.sub-title {
	@extend %extend_1;
}
.std {
	.subtitle {
		padding: 0;
	}
	ol {
		margin: 0 0 1em;
		padding: 0;
		list-style: decimal outside;
		padding-left: 1.5em;
		&.ol {
			list-style: decimal outside;
			padding-left: 1.5em;
		}
		ol {
			margin: .5em 0;
		}
		ul {
			margin: .5em 0;
		}
	}
	ul {
		margin: 0 0 1em;
		padding: 0;
		list-style: disc outside;
		padding-left: 1.5em;
		&.disc {
			list-style: disc outside;
			padding-left: 18px;
			margin: 0 0 10px;
		}
		ul {
			list-style-type: circle;
			margin: .5em 0;
		}
		ol {
			margin: .5em 0;
		}
	}
	dl {
		margin: 0 0 1em;
		padding: 0;
		dt {
			font-weight: bold;
		}
		dd {
			margin: 0 0 10px;
		}
	}
	p {
		margin: 0 0 1em;
		padding: 0;
	}
	address {
		margin: 0 0 1em;
		padding: 0;
		font-style: normal;
	}
	blockquote {
		margin: 0 0 1em;
		padding: 0;
		font-style: italic;
		padding: 0 0 0 1.5em;
	}
	dt {
		font-weight: bold;
	}
	dd {
		padding: 0 0 0 1.5em;
	}
	b {
		font-weight: bold;
	}
	strong {
		font-weight: bold;
	}
	i {
		font-style: italic;
	}
	em {
		font-style: italic;
	}
}
.link-cart {
	font-weight: bold;
	color: $color_thunderbird_approx;
}
.link-wishlist {
	color: $color_tundora_approx;
}
.link-reorder {
}
.link-compare {
}
.link-print {
}
.link-rss {
	background: $url_1 0 1px no-repeat;
	padding-left: 18px;
	line-height: 14px;
	white-space: nowrap;
}
.cards-list {
	dt {
		margin: 5px 0 0;
	}
	.offset {
		padding: 2px 0 2px 20px;
	}
}
.separator {
	margin: 0 3px;
}
.divider {
	clear: both;
	display: block;
	font-size: 0;
	line-height: 0;
	height: 1px;
	background: $color_celeste_approx;
	margin: 10px 0;
	text-indent: -999em;
	overflow: hidden;
}
.product-name {
	margin: 0;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.55;
}
.tags-list {
	display: block;
	font-size: 13px;
	border: 1px solid $color_alto_approx;
	background: $color_black_haze_approx;
	padding: 10px;
	li {
		display: inline !important;
		margin: 0 4px 0 0;
		a {
			color: $color_big_stone_approx;
		}
	}
}
.advanced-search-amount {
	margin: 0 0 10px;
}
.advanced-search-summary {
	margin: 10px 0;
	border: 1px solid $color_alto_approx;
	background: $color_ottoman_approx;
	padding: 10px;
	ul {
		float: left;
		width: 49%;
	}
	strong {
		color: $color_zest_approx;
	}
	li {
		margin: 2px 0;
	}
	p {
		clear: both;
		font-weight: bold;
		margin: 0;
	}
}
.cms-home {
	.main {
		padding: 8px;
	}
	.subtitle {
	}
}
.page-sitemap {
	.links {
		text-align: right;
		margin: 0 8px -22px 0;
		a {
			text-decoration: none;
			position: relative;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.sitemap {
		margin: 12px;
		a {
			color: $color_tundora_approx;
		}
		li {
			margin: 3px 0;
			&.level-0 {
				margin: 10px 0 0;
				font-weight: bold;
				a {
					color: $color_green_leaf_approx;
				}
			}
		}
	}
}
.links li {
	display: inline;
	&.first {
		padding-left: 0 !important;
	}
	&.last {
		background: none !important;
		padding-right: 0 !important;
	}
}
.advanced-search .form-list {
	label {
		width: 160px;
		padding-right: 10px;
	}
	.input-box {
		float: left;
		clear: none;
	}
	.input-range {
		float: left;
		clear: none;
	}
}
.cms-index-index .subtitle {
}
.rss-title h1 {
	background: $url_2 0 3px no-repeat;
	padding-left: 27px;
}
.rss-table .link-rss {
	display: block;
	line-height: 1.55;
	background-position: 0 4px;
}