@import 'vars/global';
@import 'vars/colors';

//urls
$url_0: url(images/bkg_rating.gif);
$url_1: url(images/i_availability_only.gif);
$url_2: url(images/i_availability_only_arrow.gif);
$url_3: url(images/bkg_add-to.gif);
$url_4: url(images/slider_bg.gif);
$url_5: url(images/magnifier_handle.gif);
$url_6: url(images/bkg_tabs.gif);
$url_7: url(images/bkg_pipe3.gif);
$url_8: url(images/bkg_btn-small.png);
$url_9: url(images/bg_x.png);

//@extend-elements
//original selectors
//.ratings-table th, .ratings-table td
%products_extend_1 {
    font-size: 11px;
    line-height: 1.15;
    padding: 3px 0;
}

//original selectors
//.product-pricing, .tier-prices
%products_extend_2 {
    margin: 10px 0;
    padding: 10px;
    background: $color_feta_approx;
    border: 1px solid $gray_221;
}

//original selectors
//.product-options-bottom .product-pricing, .product-options-bottom .tier-prices
%products_extend_3 {
    margin: 0;
    padding: 0 0 10px;
    border: 0;
    background: 0;
}

//original selectors
//.product-tabs li.active a, .product-tabs li.active a:hover
%products_extend_4 {
    background-color: $gray_102;
    font-weight: bold;
    color: $white;
}

//original selectors
//.clearfix:after, .configurable-swatch-list:after, .product-view .product-options .swatch-attr:after
%products_extend_5 {
    content: '';
    display: table;
    clear: both;
}

//original selectors
//.swatch-link, .swatch-label
%products_extend_6 {
    display: block;
    //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
    color: $gray_102;
    text-decoration: none;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
}


.no-rating {
    margin: 0;
}
.ratings {
    line-height: 1.25;
    margin: 7px 0;
    strong {
        float: left;
        margin: 0 3px 0 0;
    }
    .rating-links {
        margin: 0;
        .separator {
            margin: 0 2px;
        }
    }
    dt {
    }
    dd {
    }
    .rating-box {
        float: left;
        margin: 2px 3px 0 0;
    }
    .amount {
    }
}
.rating-box {
    width: 50px;
    height: 10px;
    font-size: 0;
    line-height: 0;
    background: $url_0 0 0 repeat-x;
    text-indent: -999em;
    overflow: hidden;
    .rating {
        float: left;
        height: 10px;
        background: $url_0 0 100% repeat-x;
    }
}
.ratings-table {
    th {
        @extend %products_extend_1;
        font-weight: bold;
        padding-right: 8px;
    }
    td {
        @extend %products_extend_1;
        padding: 4px 0 0;
    }
}
.availability {
    margin: 0;
    span {
        font-weight: bold;
    }
    &.in-stock span {
    }
    &.out-of-stock span {
        color: $color_punch_approx;
        color: $gray_164;
    }
}
.availability-only {
    margin: 10px 0 7px;
    line-height: 16px;
    background: $url_1 0 50% no-repeat;
    padding-left: 15px;
    span {
        border-bottom: 1px dashed $color_cedar_wood_finish_approx;
        color: $black;
    }
    a {
        border-bottom: 1px dashed $color_cedar_wood_finish_approx;
        color: $black;
        background: $url_2 100% 0 no-repeat;
        cursor: pointer;
        padding-right: 15px;
        text-decoration: none;
    }
    .expanded {
        background-position: 100% -15px;
    }
    strong {
        color: $color_thunderbird_approx;
    }
}
.availability-only-details {
    margin: 0 0 7px;
    th {
        background: $gray_233;
        font-size: 10px;
        padding: 0 8px;
    }
    td {
        border-bottom: 1px solid $color_geyser_approx;
        font-size: 11px;
        padding: 2px 8px 1px;
    }
    tr {
        &.odd {
            background: $white;
            td.last {
                color: $color_green_leaf_approx;
                font-weight: bold;
            }
        }
        &.even {
            background: $gray_251;
        }
        &.last td {
            border-bottom: none;
        }
    }
}
.product-view {
    .product-content {
        /*float: right;
        width: 363px;*/
        .availability {
            font-size: 11px;
            margin: 10px 0;
            span {
                font-weight: normal;
            }
        }
        .product-name {
            display:none;
            margin: 0 0 5px;
            h1 {
                font: bold 13px/1.25 Arial, Helvetica, sans-serif;
            }
        }
        .short-description {
            margin: 10px 0;
        }
        .price-box {
            margin: 10px 0;
        }
        .add-to-links {
            margin: 0;
            text-align: right;
            li {
                display: inline;
                margin-left: 12px;
                .separator {
                    display: none !important;
                }
            }
        }
        .product-options-bottom .paypal-logo {
            float: left;
        }
    }
    .product_info_media {
        /*float: left;
        width: 302px;*/
        .product-image {
            margin: 0 0 10px;
			padding: 0px;
            border: 1px solid $gray_204;
            img {
                width: 100%;
                height: auto;
				vertical-align: bottom;
            }
        }
        .product-image-zoom {
            position: relative;
            width: 300px;
            height: 300px;
            overflow: hidden;
            z-index: 9;
            img {
                position: absolute;
                left: 0;
                top: 0;
                cursor: move;
            }
        }
        .zoom-notice {
            margin: 0 0 10px;
            text-align: center;
        }
        .zoom {
            position: relative;
            z-index: 9;
            height: 24px;
            margin: 0 auto 13px;
            padding: 0 28px;
            background: $url_4 50% 50% no-repeat;
            cursor: pointer;
            &.disabled {
                opacity: .3;
            }
            #track {
                position: relative;
                height: 18px;
            }
            #handle {
                position: absolute;
                left: 0;
                top: 3px;
                width: 9px;
                height: 18px;
                background: $url_5 0 0 no-repeat;
            }
            .btn-zoom-out {
                position: absolute;
                left: 10px;
                top: 7px;
            }
            .btn-zoom-in {
                position: absolute;
                right: 10px;
                top: 7px;
            }
        }
        .more-views {
            h2 {
                font-size: 10px;
                font-weight: normal;
                padding: 0 0 2px;
                border-bottom: 1px solid $gray_204;
                margin: 0 0 8px;
                text-transform: uppercase;
            }
            ul {
            }
            li {
                margin: 0 0 8px 10px;
                display: block;
                max-width: 66px;
                a {
                    width: 66px;
                    height: 66px;
                    border: 1px solid $gray_221;
                    overflow: hidden;
                }
            }
        }
    }
    .box-description {
    }
    .box-tags {
        margin: 0;
        h3 {
            font-size: 12px;
        }
        .product-tags {
            display: block;
            margin: 0 0 15px;
            li {
                display: inline;
                background: $url_7 100% 4px no-repeat;
                padding: 0 7px 0 4px;
                &.first {
                    padding-left: 0;
                }
                &.last {
                    background: none;
                    padding-right: 0;
                }
            }
        }
        .form-add {
            label {
                display: block;
                font-size: 12px;
                font-weight: bold;
                margin: 0 0 3px;
            }
            .input-box {
                float: left;
                width: 305px;
                margin: 0 5px 0 0;
            }
            input.input-text {
                width: 299px;
            }
            button.button span {
                height: 23px;
                background-image: $url_8;
                line-height: 20px;
            }
        }
        .note {
            margin: 2px 0 0;
            font-size: 10px;
        }
    }
    .box-reviews {
        dl {
            margin: 15px 0;
        }
        dt {
            a {
                font-weight: bold;
            }
            span {
                font-weight: bold;
            }
        }
        dd {
            margin: 0 0 15px;
            small {
                font-style: italic;
            }
        }
        .form-add {
            margin: 15px 0 0;
            h3 {
                font-size: 13px;
                font-weight: normal;
                span {
                    font-weight: bold;
                }
            }
            h4 {
                font-size: 12px;
            }
            .form-list {
                margin: 15px 0 0;
                .input-box {
                    width: 460px;
                }
                textarea {
                    width: 454px;
                }
                input.input-text {
                    width: 454px;
                }
            }
            .data-table td {
                text-align: center;
            }
        }
    }
    .product-options {
        .swatch-attr {
            float: none;
            display: block;
            clear: both;
            border: 0;
            &:after {
                @extend %products_extend_5;
            }
            label {
                font-size: 12px;
                display: block;
                line-height: 1.3;
            }
            .select-label {
                font-size: 12px;
                display: inline;
                font-weight: normal;
                color: $color_curious_blue_approx;
                padding-left: 5px;
            }
        }
        .select-label {
            display: none;
        }
        dd .input-box {
            width: auto;
            height: auto;
        }
    }
    .grouped-items-table .price-box {
        margin: 0;
        padding: 0;
    }
    .box-additional .data-table {
        th {
            line-height: 1.25;
        }
        td {
            line-height: 1.25;
        }
    }
    .box-up-sell h2 {
        margin: 0 0 8px;
    }
    .add-to-cart button.out-of-stock {
        background-position: -80px -362px;
        cursor: default;
    }
    #product_addtocart_form {
     /*       display: flex;
    flex-flow: row wrap;*/
    }
}
.email-friend {
    margin: 0;
}
.alert-price {
    margin: 0;
    font-size: 11px;
}
.alert-stock {
    margin: 0;
    font-size: 11px;
}
.price {
    white-space: nowrap !important;
}
.price-box {
    margin: 5px 0 10px;
    .price {
        font-size: 13px;
        font-weight: bold;
        color: $color_green_leaf_approx;
    }
}
.regular-price {
    color: $color_green_leaf_approx;
    .price {
        font-size: 13px;
        font-weight: bold;
        color: $color_green_leaf_approx;
    }
}
.old-price {
    margin: 0;
    .price-label {
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
    }
    .price {
        font-weight: bold;
        font-size: 13px;
        color: $color_green_leaf_approx;
        text-decoration: line-through;
    }
}
.special-price {
    margin: 0;
    .price-label {
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        white-space: nowrap;
        color: $black;
    }
    .price {
        font-size: 13px;
        font-weight: bold;
    }
}
.minimal-price {
    margin: 0;
    .price-label {
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
    }
}
.minimal-price-link {
    display: block;
    font-size: 12px;
    text-decoration: underline;
    color: $gray_68;
    .label {
        color: $gray_68;
    }
    .price {
        font-weight: normal;
        color: $gray_68;
    }
}
.price-including-tax {
    display: block;
    color: $gray_136;
    .label {
        font-size: 10px;
        text-transform: uppercase;
        white-space: nowrap;
        color: $gray_136;
    }
    .price {
        font-size: 13px;
        font-weight: bold;
        color: $color_green_leaf_approx;
    }
}
.price-excluding-tax {
    display: block;
    color: $gray_136;
    .label {
        font-size: 10px;
        text-transform: uppercase;
        white-space: nowrap;
        color: $gray_136;
    }
    .price {
        font-size: 12px;
        font-weight: normal;
        color: $color_green_leaf_approx;
    }
}
.configured-price {
    margin: 0;
    .price-label {
        font-weight: bold;
        white-space: nowrap;
    }
    .price {
        font-size: 13px;
        font-weight: bold;
    }
}
.price-incl-tax {
    display: block;
    .label {
        display: block;
        white-space: nowrap;
    }
    .price {
        display: block;
        font-weight: bold;
    }
}
.price-excl-tax {
    display: block;
    .label {
        display: block;
        white-space: nowrap;
    }
    .price {
        display: block;
        font-weight: normal;
    }
}
.weee {
    display: block;
    font-size: 11px;
    color: $gray_68;
    .price {
        font-size: 11px;
        font-weight: normal;
    }
}
.price-from {
    margin: 0;
    .price-label {
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
    }
}
.price-to {
    margin: 0;
    .price-label {
        font-size: 12px;
        font-weight: bold;

        white-space: nowrap;
    }
}
.price-notice {
    padding-left: 7px;
    .price {
        font-weight: bold;
    }
}
.price-as-configured {
    margin: 0;
    .price-label {
        font-weight: bold;
        white-space: nowrap;
        text-transform: uppercase;
    }
}
.price-box-bundle {
    padding: 0 0 10px 0;
    .price-box {
        margin: 0 !important;
        padding: 0 !important;
    }
    .price {
        color: $gray_34;
    }
}
.product-pricing {
    @extend %products_extend_2;
}
.tier-prices {
    @extend %products_extend_2;
    .benefit {
        font-style: italic;
        font-weight: bold;
    }
    .price {
        font-weight: bold;
    }
}
.add-to-links {
    margin: 3px 0 0;
    li {
        background: $url_3 2px 50% no-repeat;
        line-height: 1.25;
        padding-left: 12px;
        a {
            color: $gray_68;
        }
    }
    .separator {
        display: none;
    }
}
.add-to-cart {
    label {
        float: left;
        margin-right: 5px;
        font-weight: bold;
        line-height: 20px;
        color: $gray_85;
    }
    .qty {
        float: left;
        margin-right: 5px;
    }
    .paypal-logo {
        clear: left;
        margin: 0;
        text-align: right;
        .paypal-or {
            clear: both;
            display: block;
            margin: 5px 60px 5px 0;
        }
    }
    button.button {
        float: left;
        margin: -3px 0 0;
    }
}
.add-to-box {
    margin: 10px 0;
    .add-to-cart {
        margin: 10px 0;
        border: 1px solid $gray_237;
        background-color: $gray_246;
        padding: 10px;
        text-align: right;
        .paypal-logo {
            float: left;
        }
    }
    .or {
        display: none !important;
    }
    .add-to-links {
        margin: 10px 0;
        text-align: right;
        li .separator {
            display: none !important;
        }
    }
}
.product-essential {
    padding: 0 0 25px;
    h2 {
        font: bold 12px/1.25 Arial, Helvetica, sans-serif;
    }
}
.product-collateral {
    h2 {
        font-size: 19px;
        font-weight: normal;
        line-height: 1.15;
    }
    .box-collateral {
    }
}
.product-image-popup {
    margin: 0 auto;
    .buttons-set {
        float: right;
        clear: none;
        border: 0;
        margin: 0;
        padding: 0;
    }
    .nav {
        font-weight: bold;
        margin: 0 100px;
        text-align: center;
    }
    .image {
        display: block;
        margin: 10px 0;
    }
    .image-label {
        font-size: 12px;
        font-weight: bold;
        margin: 0 0 10px;
        color: $color_gray_50_approx;
    }
}
.product-options {
    margin: 20px 0 0;
    padding: 0 15px 10px;
    background-color: $color_feta_approx;
    border: 1px solid $gray_221;
    position: relative;
    dt {
        padding: 10px 0 0;
        font-weight: normal;
        label {
            font-weight: bold;
            &.required em {
                color: $color_trinidad_approx;
                margin-left: 5px;
            }
        }
    }
    dd {
        padding: 5px 10px 15px;
        margin: 0 0 5px;
        border-bottom: 1px solid $gray_221;
        .qty-holder {
            display: block;
            padding: 10px 0 0;
            label {
                vertical-align: middle;
            }
        }
        .qty-disabled {
            background: none;
            border: 0;
            padding: 3px;
            color: $gray_68;
        }
        input {
            &.input-text {
                width: 98%;
            }
            &.datetime-picker {
                width: 150px;
            }
        }
        .time-picker {
            display: inline-block;
            padding: 2px 0;
            vertical-align: middle;
        }
        textarea {
            width: 98%;
            height: 8em;
        }
        select {
            width: 99%;
        }
        .multiselect option {
            border-bottom: 1px dotted $color_link_water_approx;
            padding: 2px 4px;
        }
    }
    ul {
        &.options-list {
            margin-right: 5px;
            li {
                padding: 2px 0;
            }
            input {
                &.radio {
                    float: left;
                    margin-top: 3px;
                }
                &.checkbox {
                    float: left;
                    margin-top: 2px;
                }
            }
            .label {
                display: block;
                margin-left: 18px;
            }
            label {
                font-weight: normal;
            }
        }
        &.validation-failed {
            padding: 0 7px;
        }
    }
    dl.last dd.last {
        border-bottom: 0;
        padding-bottom: 5px;
        margin-bottom: 0;
    }
    p.required {
        position: absolute;
        right: 15px;
        top: 10px;
    }
}
.product-options-bottom {
    background-color: $gray_246;
    padding: 15px 20px;
    border: 1px solid $gray_228;
    border-top: 0;
    .product-pricing {
        @extend %products_extend_3;
    }
    .tier-prices {
        @extend %products_extend_3;
    }
    .price-box {
        float: left;
        margin: 0;
    }
    .add-to-links {
        clear: both;
        padding: 5px 0 0;
        text-align: right;
        float: right;
        display: inline;
    }
    .price-label {
        padding-right: 5px;
    }
    .price-tax {
        float: left;
    }
    .add-to-cart {
        float: right;
        margin: 0;
        padding: 0;
        border: 0;
        background: 0;
    }
}
.product-tabs {
    margin-bottom: 15px;
    border-bottom: 1px solid $gray_102;
    background: $gray_242 $url_6 0 100% repeat-x;
    li {
        float: left;
        border-right: 1px solid $gray_164;
        border-left: 1px solid $white;
        font-size: 1.1em;
        line-height: 1em;
        &.first {
            border-left: 0;
        }
        &.last {
            border-right: 0;
        }
        &.active a {
            @extend %products_extend_4;
            &:hover {
                @extend %products_extend_4;
            }
        }
    }
    a {
        display: block;
        padding: 6px 15px;
        color: $gray_68;
        &:hover {
            background-color: $gray_221;
            text-decoration: none;
            color: $gray_68;
        }
    }
}
.mini-products-grid {
    width: 100%;
    td {
        width: 20%;
        padding: 0 8px 8px 0;
        &.empty {
        }
        &.last {
            padding-right: 0;
        }
    }
    .product-image {
        display: block;
        border: 1px solid $gray_204;
        margin: 0 0 10px;
    }
    .product-name {
        width: 115px;
        margin: 0 0 6px;
        overflow: hidden;
        a {
            color: $gray_68;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .ratings .rating-box {
        float: none;
        display: block;
        margin: 0 0 3px;
    }
}
.send-friend {
    .form-list {
        width: 535px;
        overflow: hidden;
        li {
            margin-right: -15px;
            p {
                margin: 0 15px 0 0;
            }
        }
    }
    .buttons-set .limit {
        float: right;
        margin: 0 7px 0 0;
        font-size: 11px;
        line-height: 25px;
    }
}
.configurable-swatch-list {
    margin-left: -3px;
    zoom: 1;
    clear: both;
    &:after {
        @extend %products_extend_5;
    }
    li {
        float: left;
        zoom: 1;
        margin: 0 0 0 3px;
    }
    .not-available {
        .x {
            display: block;
        }
        .swatch-link {
            border-color: $gray_237;
            position: relative;
            &.has-image img {
                opacity: 0.4;
                filter: alpha(opacity=40);
            }
        }
        .swatch-label {
            color: $gray_164;
            background: $white;
        }
        a:focus {
            outline: 0;
        }
    }
    .wide-swatch .swatch-label {
        padding: 0 6px;
    }
    .hover .swatch-link {
        border-color: $color_curious_blue_approx;
    }
    .selected .swatch-link {
        border-color: $color_curious_blue_approx;
    }
}
.swatch-link {
    @extend %products_extend_6;
    border: 1px solid $gray_204;
    margin: 0 0 3px;
    img {
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 2px;
    }
    &:hover {
        cursor: pointer;
        text-decoration: none;
        border-color: $color_curious_blue_approx;
    }
    .x {
        display: none;
        text-indent: -999em;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: $url_9 center no-repeat transparent;
        z-index: 10;
    }
    &.has-image {
        .swatch-label {
            position: relative;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}
.swatch-label {
    @extend %products_extend_6;
    border: 1px solid $white;
    margin: 0;
    white-space: nowrap;
    background: $gray_244;
}
@media only screen and(max-width: 770px) {
    #narrow-by-list dd .configurable-swatch-list li:nth-child(odd) {
        clear: left;
    }
}
.currently {
    .swatch-current {
        position: relative;
        .btn-remove {
            margin-top: -10px;
            position: absolute;
            right: 0;
            top: 50%;
        }
        span {
            display: block;
            float: left;
        }
    }
    .swatch-link {
        display: inline-block;
        margin: 0 0 0 3px;
        &:hover {
            border-color: $gray_204;
            cursor: default;
        }
    }
}
.configurable-swatch-box {
    background: none !important;
    .validation-advice {
        margin: 0 0 5px;
        background: $color_grenadier_approx;
        padding: 2px 5px !important;
        font-weight: bold;
        color: $white !important;
        float: left;
        display: block;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
    }
    select.swatch-select {
        display: none;
    }
}
.tier-prices-grouped li .price {
    font-weight: bold;
}
.col3-layout .product-view {
    .product-img-box {
        float: none;
        margin: 0 auto;
    }
    .product-shop {
        float: none;
        width: auto;
    }
}
.col1-layout .product-view .product-shop {
    float: right;
    width: 576px;
}
.product-shop .product-options-bottom {
    .price-box {
        float: none;
        margin: 0;
    }
    .price-label {
        float: none;
        padding-right: 0;
    }
    .price-tax {
        float: none;
    }
    .add-to-cart {
        clear: both;
        float: none;
        padding: 12px 0 0;
        text-align: left;
    }
}
.product-tabs-content h2 {
    display: none;
    font-size: 12px;
    font-weight: bold;
}
#product_tabs_upsell_products_contents h2 {
    display: block;
}
.clearfix:after {
    @extend %products_extend_5;
}
.products-grid .configurable-swatch-list li {
    display: inline-block;
    float: none;
    margin: 0;
    vertical-align: top;
}
#narrow-by-list dd {
    .swatch-link {
        border: none;
        line-height: 25px;
        margin-right: 2px;
        text-align: left;
        &.has-image {
            line-height: inherit;
        }
        &:hover .swatch-label {
            border-color: $color_curious_blue_approx;
        }
    }
    .swatch-label {
        background: $gray_244;
        border: 1px solid $gray_204;
        //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
        border-radius: 3px;
        display: block;
        float: left;
        line-height: 1.5em;
        margin: 0 5px 0 0;
        padding: 1px 5px;
        white-space: nowrap;
        img {
            border: 1px solid $white;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 3px;
            //Instead of the line below you could use @include box-sizing($bs)
            box-sizing: content-box;
        }
    }
    .configurable-swatch-list li {
        margin: 0 0 0 3px;
        width: 47%;
    }
    .has-image .swatch-label {
        padding: 0;
    }
    ol{
        overflow-y: auto;
        max-height: 250px;
        overflow-x: hidden;
    }
}
