@import 'vars/global';
@import 'vars/colors';


//urls
$url_0: url(images/bkg_btn-green.gif);
$url_1: url(images/bkg_cart-totals.gif);

//@extend-elements
//original selectors
//.cart .discount, .cart .shipping
%cart_extend_1 {
	background: $color_chrome_white_approx;
	padding: 10px 0;
	margin: 0 12px;
}

//original selectors
//.cart .discount h2, .cart .shipping h2
%cart_extend_2 {
	float: left;
	width: 225px;
	font: normal 14px/16px $font_primary, $font_secondary, $font_tertiary;
	color: $color_grenadier_approx;
}

//original selectors
//.cart .discount .buttons-set, .cart .shipping .buttons-set
%cart_extend_3 {
	margin: 10px 0 0;
	border: 0;
	padding: 0;
	text-align: left;
}

//original selectors
//.cart .discount .buttons-set button.button span, .cart .shipping .buttons-set button.button span
%cart_extend_4 {
	height: 19px;
	background-image: $url_0;
	padding: 0 0 0 9px;
	font-size: 10px;
	line-height: 18px;
	color: $white;
	background: transparent none;
	color: $gray_73 !important;
	font-size: 18px;
	font-weight: bold;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 1px $color_sherpa_blue_approx;
	text-transform: uppercase;
}

//original selectors
//.cart .totals tfoot th strong, .cart .totals tfoot td strong
%cart_extend_5 {
	font-size: 14px;
	font-weight: bold;
	color: $color_grenadier_approx;
}

//original selectors
//.opc-wrapper-opc .buttons-set .button span, .opc-wrapper-opc .discount-block .buttons-set .button span
%cart_extend_6 {
	background: transparent none;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	height: 45px;
	line-height: 15px !important;
	padding: 0 !important;
	width: 100%;
}

//original selectors
//.opc-wrapper-opc .buttons-set .button span span, .opc-wrapper-opc .discount-block .buttons-set .button span span
%cart_extend_7 {
	background: transparent none;
	color: $gray_73 !important;
	font-size: 18px;
	font-weight: bold;
	//Instead of the line below you could use @include text-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
	text-shadow: 0 1px 1px $color_sherpa_blue_approx;
	text-transform: uppercase;
}


.cart {
	.totals {
		background: $white $url_1 0 0 no-repeat;
		padding: 12px 0;
		background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
		padding: 0;
		.checkout-types {
			font-size: 13px;
			padding: 4px 0;
			text-align: right;
			.paypal-or {
				clear: both;
				display: block;
				padding: 8px 55px 0 0;
				line-height: 1.0;
				font-size: 11px;
			}
			li {
				clear: both;
				margin: 0 0 5px;
			}
		}
		table {
			float: right;
			width: 400px;
			margin: 0 0 8px;
		}
		td {
			padding: 0 0 0 15px;
		}
		tfoot {
			td strong {
				@extend %cart_extend_5;
			}
			th strong {
				@extend %cart_extend_5;
			}
		}
		tr.last td {
		}
	}
	.cart-collaterals {
		padding: 25px 0 0;
		.col2-set {
			.col-1 {
				width: 222px;
			}
			.col-2 {
				width: 655px;
				background: $color_chrome_white_approx;
			}
		}
	}
	.crosssell {
		border: 1px solid $gray_221;
		background: $gray_246;
		padding: 10px;
		h2 {
			font-size: 12px;
			font-weight: bold;
		}
		.product-image {
			float: left;
			width: 75px;
			height: 75px;
		}
		.product-details {
			margin-left: 85px;
		}
		.product-name {
			font-weight: bold;
		}
		li {
			&.item {
				margin: 0 0 8px;
				padding-bottom: 5px;
				border-bottom: 1px solid $gray_221;
			}
			&.last {
				border-bottom: 0;
				padding-bottom: 0;
				margin: 0;
			}
		}
		.link-compare {
			font-weight: normal;
		}
	}
	.no-crosssell {
		width: 100%;
		overflow: hidden;
		img {
			display: block;
			margin: 0 0 10px;
		}
	}
	.discount {
		@extend %cart_extend_1;
		border-bottom: 1px solid $color_coriander_approx;
		h2 {
			@extend %cart_extend_2;
		}
		.discount-form {
			clear: both;
		}
		.buttons-set {
			@extend %cart_extend_3;
			button.button {
				float: none;
				margin: 0;
				span {
					@extend %cart_extend_4;
					span {
						padding: 0 19px 0 10px;
					}
				}
			}
		}
		label {
			font-weight: bold;
			color: $gray_85;
		}
		.input-box {
			width: 270px;
		}
		input.input-text {
			width: 264px;
		}
	}
	.shipping {
		@extend %cart_extend_1;
		h2 {
			@extend %cart_extend_2;
		}
		.shipping-form {
			clear: both;
		}
		.buttons-set {
			@extend %cart_extend_3;
			button.button {
				float: none;
				margin: 0;
				span {
					@extend %cart_extend_4;
					span {
						padding: 0 19px 0 10px;
					}
				}
			}
		}
		p {
			margin: 0 0 3px;
		}
		.sp-methods {
			margin: 10px 0 0;
			padding: 6px 0 0;
			border-top: 1px solid $color_coriander_approx;
		}
		.form-list {
			.input-box {
				width: 270px;
			}
			select {
				width: 270px;
			}
			input.input-text {
				width: 264px;
			}
		}
	}
	.page-title .checkout-types {
		display: none !important;
	}
	.checkout-types .paypal-or {
		margin: 0 8px;
		line-height: 2.3;
	}
}
.col-img {
	min-width: 100px;
}
.cart-table {
	th {
		padding: 2px 10px;
	}
	td {
		padding: 10px;
		.edit_item {
			width: 100%;
			text-align: center;
			display: inline-block;
			background-color: $color_brandy_punch_approx;
			color: $color_white_linen_approx;
			&:hover {
				background-color: $color_almond_approx;
				color: $color_whiskey_approx;
			}
		}
	}
	.item-msg {
		margin: 5px 0;
		font-size: 11px;
		font-weight: bold;
		color: $color_grenadier_approx;
	}
	.btn-continue {
		float: left;
		span {
			background: none;
			padding: 0;
			font: normal 11px/25px $font_primary, $font_secondary, $font_tertiary;
			color: $color_green_leaf_approx;
			text-transform: none;
			text-decoration: underline;
		}
		&:hover span {
			text-decoration: none;
		}
	}
	.btn-update {
		float: right;
		margin-left: 7px;
	}
	.btn-empty {
		float: right;
	}
	h2.product-name {
		font-weight: bold;
		margin: 0 0 5px;
		color: $gray_68;
		font-size: 1.5em;
		line-height: 1.05em;
	}
	tfoot td {
		padding: 5px 10px;
	}
	.row.halves.item-options {
		font-size: 0.75em;
		dt {
			font-weight: bold;
			font-style: italic;
			line-height: 0.7em;
		}
		dd {
			padding-left: 10px;
		}
	}
}
.truncated {
	cursor: help;
	a {
		&.dots {
			cursor: help;
			text-decoration: none !important;
		}
		&.details {
			cursor: help;
			text-decoration: none !important;
			display: inline-block;
			border-bottom: 1px dotted $color_green_leaf_approx;
		}
	}
	.truncated_full_value {
		position: relative;
		z-index: 999;
		.item-options {
			position: absolute;
			top: -99999em;
			z-index: 999;
			width: 250px;
			padding: 8px;
			border: 2px solid $gray_221;
			border-bottom-color: $gray_102;
			background-color: $gray_246;
			dt {
				margin-top: 0;
			}
			> p {
				font-weight: bold;
				text-transform: uppercase;
			}
		}
	}
	.show .item-options {
		top: -20px;
		left: 50%;
	}
}
.edit-cart-item {
	color: $color_pacific_blue_approx;
	i {
		font-size: 1.5em;
		&:hover {
			color: $color_gable_green_approx;
		}
	}
}
.remove-cart-item {
	color: $color_charade_approx;
	i {
		font-size: 1.5em;
		&:hover {
			color: $color_monza_approx;
		}
	}
}
.opc-wrapper-opc {
	.buttons-set .button span {
		@extend %cart_extend_6;
		span {
			@extend %cart_extend_7;
		}
	}
	.discount-block .buttons-set .button span {
		@extend %cart_extend_6;
		span {
			@extend %cart_extend_7;
		}
	}
}
.shipping-method-block {
	position: absolute !important;
	top: -9999em !important;
	left: -9999em !important;
}
#check_out_products {
	background-color: $color_william_approx;
	color: $gray_228;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
	&.fixed {
		z-index: 9;
		position: fixed;
		bottom: 5px;
	}
	&:hover {
		background-color: $color_pacific_blue_approx;
	}
}
#mass_products {
	position: relative;
}
.col-left .truncated .show .item-options {
	left: 30px;
	top: 10px;
}
.col-right .truncated .show .item-options {
	left: -240px;
	top: 10px;
}
* .opc-wrapper-opc .payment-block {
	margin-top: 0 !important;
}