/* CSS Document */
/* Sample Data============================================================================ */
.home-callout { margin-bottom:12px; }
.home-callout img { display:block }
/*.home-spot { float:left; width:470px; margin-left:20px; }*/
.best-selling h3 { margin:12px 0 6px 0; color:#e25203; font-size:1.2em; }
.best-selling table { border-top:1px solid #ccc; }
.best-selling tr.odd { background:#eee url(../../../modern/images/best_selling_tr_odd_bg.gif) 0 100% repeat-x; }
.best-selling tr.even { background:#fff url(../../../modern/images/best_selling_tr_even_bg.gif) 0 100% repeat-x; }
.best-selling td { width:50%; border-bottom:1px solid #ccc; padding:8px 10px 8px 8px; font-size:11px; }
.best-selling .product-img { float:left; border:2px solid #dcdcdc; }
.best-selling .product-description { margin-left:107px; line-height:1.3em; }
.best-selling a.product-name,
.home-spot .best-selling a.product-name:hover { color:#203548; }
/* ======================================================================================= */


/*
SAMPLE
EVENTS PULL THIS OUT TO THE EVENT EXTENSION
*/
.catalog-category-view .event.verse{text-align: center; background-color:#981e32;}
.catalog-category-view .event.verse a{color:#e4e4e4 !important; text-decoration:none;}
.catalog-category-view .event.verse.away{text-align: center;background-color:#E4E4E4;}
.catalog-category-view .event.verse.away a{color:#981e32 !important;}

.catalog-category-view .event.time{text-align: center;background-color:#E4E4E4;color:#981e32;}
.catalog-category-view .event.time.away{text-align: center;background-color:#981e32;}
.catalog-category-view .event.time.away a{color:#e4e4e4 !important; text-decoration:none;}

.catalog-category-view .event.status{text-align: center;text-decoration:none;}
.catalog-category-view .event.status.comming{}
.catalog-category-view .event.status.soldout{}


.studentstore5 .main-ad-block{background:transparent url(/media/store-media/studentstore/student_home_banner_back.jpg) right top no-repeat; background-size:100% auto}
.studentstore5 .main-ad-block .seven-twelfths img{margin:2%;max-width:96%;}
.studentstore5 .main-ad-block .home-spot img{display:none;}

.techstore6 .main-ad-block{background:transparent url(/media/store-media/techstore/tech_home_banner_back.jpg) right top no-repeat; background-size:100% auto}
.techstore6 .main-ad-block .product_feature{background:transparent url(/media/store-media/default/nav-link-background-crimson.png) right top repeat;}
.techstore6 .main-ad-block .product_feature:hover{background:transparent url(/media/store-media/default/nav-link-background-hover.png) right top repeat;}
.techstore6 .main-ad-block .product_feature a{color:#ECECEC; font-weight:bold;}
.techstore6 .main-ad-block img[src*="placeholder"]{max-height:220px;}
.techstore6 .main-ad-block .product_feature {
    padding: 1%;
    max-width: 31%;
    margin: 1%;
}

.category-football.five1 #jacket{background: transparent url(/media/store-media/eventstore/band1.jpg) right top no-repeat;}
.category-football.five2 #jacket{background: transparent url(/media/store-media/eventstore/btc-surfing.jpg) right top no-repeat;}
.category-football.five3 #jacket{background: transparent url(/media/store-media/eventstore/crowd1.jpg) right top no-repeat;}
.category-football.five4 #jacket{background: transparent url(/media/store-media/eventstore/crowd2.jpg) right top no-repeat;}
