
ul,ul li{ list-style:none !important;}

/* Global Styles ========================================================================= */

/* MAP Popup============================================================================== */
.cart-msrp-totals { color:red; font-size:12px !important; font-weight:bold; padding:40px 0 10px; text-align:right; text-transform:uppercase;}
.map-cart-sidebar-total { background:#f6f6f6; color:red; display:block; font-size:10px; line-height:14px; font-weight:bold; padding:5px; text-shadow:0 1px 0 #fff; box-shadow:0 0 3px #ccc; border-radius:5px; }

.map-popup { background:#fff; border:1px solid #aaa; margin:12px 0 0; position:absolute; -moz-box-shadow:0 0 6px #ccc; -webkit-box-shadow:0 0 6px #ccc; box-shadow:0 0 6px #ccc; text-align:left; width:300px; z-index:100; }
.map-popup-heading { background:#efefef ; border-bottom:1px solid #ccc; padding:5px 30px 5px 10px; width:260px; }
.map-popup-heading h2 { font-size:16px; margin:0; text-shadow:0 1px 0 #f6f6f6; overflow:hidden; white-space:nowrap; word-wrap:break-word; text-align:left; text-overflow:ellipsis; }
.map-popup-arrow { background:url(images/map_popup_arrow.gif) no-repeat; position:absolute; left:50%; top:-10px; height:10px; width:19px; }
.map-popup-close { background:url(images/btn_window_close.gif) no-repeat; display:block; position:absolute; top:9px; right:10px; height:15px; width:15px; text-indent:-9999em; }
.map-popup-content { border-top:1px solid #eee; padding:10px; overflow:hidden; text-align:left; width:280px; }
.map-popup-checkout { display:inline; float:right; text-align:right; }
.map-popup-checkout span { display:block; padding-right:30px; }
.map-popup-checkout .paypal-logo { margin:0 0 5px; }
.map-popup-price .price-box,
.map-popup-price .price-box .special-price { margin:0; padding:0; }
.map-popup-price { margin:5px 0 0; }
.map-popup-text { clear:right; margin:0 10px; padding:10px 0; text-align:left; word-wrap:break-word; }
.map-popup-only-text { border-top:1px solid #ddd; }
/* ======================================================================================= */



/* ======================================================================================= */

#search_mini_form .form-search button.button span {
  background-image: none;
  height: inherit;
  line-height: inherit;
}

/* ============================================ *
 * Slideshow
 * ============================================ */







/* Clears ================================================================================ */
.clearer:after,
.header-container:after,
.header-container .top-container:after,
.header:after,
/*.top-bar:after,*/
.quick-access:after,
.form-search:after,
.main:after,
.footer:after,
.footer .form-subscribe:after,
.footer-container .bottom-container:after,
.col-main:after,
.col2-set:after,
.col3-set:after,
.col4-set:after,
.search-autocomplete li:after,
.block .block-content:after,
.block .actions:after,
.block li.item:after,
.block-poll li:after,
.block-layered-nav .currently li:after,
.page-title:after,
.products-grid:after,
.products-list li.item:after,
.box-account .box-head:after,
.dashboard .box .box-title:after,
.order-info ul:after,
.box-reviews li.item:after,
.box-tags li.item:after,
.pager:after,
.sorter:after,
.ratings:after,
.add-to-box:after,
.add-to-cart:after,
.product-essential:after,
.product-collateral:after,
.product-tabs:after,
.product-view .product-img-box .more-views ul:after,
.product-view .box-tags .form-add:after,
.product-view .product-shop .short-description:after,
.product-view .box-description:after,
.product-options .options-list li:after,
.product-options-bottom:after,
.product-review:after,
.cart:after,
.cart-collaterals:after,
.cart .crosssell li.item:after,
.opc .step-title:after,
.checkout-progress:after,
.multiple-checkout .place-order:after,
.group-select li:after,
.form-list li:after,
.form-list .field:after,
.buttons-set:after,
.page-print .print-head:after,
.advanced-search-summary:after,
.gift-messages-form .item:after,
.send-friend .form-list li p:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
/* ======================================================================================= */




.block ol{padding:0px;}


/* ======================================================================================= */
/* example css rules */
/* ======================================================================================= */
body{background:#fff url('images/gradient-south-lightest-white.png') repeat-x center top  !important; }

ol li { list-style: none; }
ul li { list-style: none; padding:0; margin:0; }
ul{padding:0; margin:0;}

.seven-twelfths.squared { width: 58.33% } .hybrid .seven-twelfths.squared, .fixed .seven-twelfths.squared { width: 462px; }
.seven-twelfths { width: 58.33% } .hybrid .seven-twelfths, .fixed .seven-twelfths { width: 462px; }


#wrapper #nav .tags-list a{display:inline;}
.block .block-content dl{    }
.block .block-content dt{}
.block .block-content dd{border-bottom: 1px solid #DDDDDD;
    margin-left: 0;
    padding: 0 0 8px;}
.block .block-content dd ol{margin:0px;padding:0px;}






.cart .cart-collaterals .col2-set .col-1{
}
.cart .cart-collaterals .col1-set .col-1 li{
	width: 222px; display: inline-block;
}
.ui-widget-overlay {
    background: #aaa none;
}


#sidebar_area{padding:10px 0px 0px 0px;}






#siteID article { padding-left:15px;}

/* examples, needless yes but good to show it's usage */


.siteslist{}
.siteslist li{}
.siteslist .cycle-slideshow{height:100px;}
.siteblock{padding:0px 5px;}
.siteslist .cycle-slideshow{border-top: 1px solid #CCCCCC;border-bottom: 1px solid #CCCCCC;font-size: 11px;padding: 8px 10px 8px 8px;}
.slidepanle img{display:inline-block;float:left;}
.slidepanle p{padding:5px;margin-left: 95px;}







.validation_overlay{
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
.validation_overlay.active{
	display:block;
}
.access_form {
	background-color: #ffb81c;
	border-radius: 5px;
	left: 50%;
	margin-left: -17.5%;
	margin-top: -6.25%;
	min-height: 55px;
	padding: 0 15px;
	position: absolute;
	text-align: center;
	top: 27%;
	width: 30%;
	z-index: 11;
}


