/* CSS Document */
body{background:#f9f9f9 url('../images/gradient-south-lightest-white.png') repeat-x center top !important; }
.quick-access .links a {
	text-decoration:none;
}
.top-bar .breadcrumbs {
  width: 391px;
}
.top-bar .breadcrumbs li {
  display: inline-block;
}
.cart .cart-collaterals .col2-set .col-1{
}
.cart .cart-collaterals .col1-set .col-1 li{
	width: 222px; display: inline-block;
}


#sidebar_area{padding:10px 0px 0px 0px;}

#spine nav:not(.homeless)#site > ul > li:first-of-type.active > a, #spine nav:not(.homeless)#site > ul > li:first-of-type > a:hover, #spine nav:not(.homeless)#site > ul > li:first-of-type > a::before {
    background-position: left center;
	background-repeat: no-repeat;
}
.quick-access.lighter .links a{color:#444 !important;}

#siteID article { padding-left:15px;}


.category-football.n0 #jacket{background: transparent url(/media/store-media/eventstore/band1.jpg) right top no-repeat;}
.category-football.n1 #jacket{background: transparent url(/media/store-media/eventstore/btc-surfing.jpg) right top no-repeat;}
.category-football.n2 #jacket{background: transparent url(/media/store-media/eventstore/crowd1.jpg) right top no-repeat;}
.category-football.n3 #jacket{background: transparent url(/media/store-media/eventstore/crowd2.jpg) right top no-repeat;}



.studentstore5 .main-ad-block{background:transparent url(/media/store-media/studentstore/student_home_banner_back.jpg) right top no-repeat; background-size:100% auto}


.studentstore5 .main-ad-block .seven-twelfths img{margin:2%;max-width:96%;}
.studentstore5 .main-ad-block .home-spot img{display:none;}

.techstore6 .main-ad-block{background:transparent url(/media/store-media/techstore/tech_home_banner_back.jpg) right top no-repeat; background-size:100% auto}
