/* CSS Document */

.quick-access .links a {
	text-decoration:none;
}
.top-bar .breadcrumbs {
  width: 391px;
}
.top-bar .breadcrumbs li {
  display: inline-block;
}
.cart .cart-collaterals .col2-set .col-1{
}
.cart .cart-collaterals .col1-set .col-1 li{
	width: 222px; display: inline-block;
}




#spine nav:not(.homeless)#site > ul > li:first-of-type.active > a, #spine nav:not(.homeless)#site > ul > li:first-of-type > a:hover, #spine nav:not(.homeless)#site > ul > li:first-of-type > a::before {
    background-position: left center;
	background-repeat: no-repeat;
}


.category-football.n0 #jacket{background: transparent url(/media/store-media/eventstore/band1.jpg) right top no-repeat;}
.category-football.n1 #jacket{background: transparent url(/media/store-media/eventstore/btc-surfing.jpg) right top no-repeat;}
.category-football.n2 #jacket{background: transparent url(/media/store-media/eventstore/crowd1.jpg) right top no-repeat;}
.category-football.n3 #jacket{background: transparent url(/media/store-media/eventstore/crowd2.jpg) right top no-repeat;}
