 html {
	overflow-y: scroll;	
}

#wrapper #content h1{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	padding: 0px;
	margin: 0px 0px 5px 0px;
	letter-spacing: 0em;
	color: #981e32;
}

#wrapper #content h2{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	text-transform:uppercase;
	margin:0px 0px 5px 0px;
	font-size:14px;
	padding: 0px;
	color:#981e32;
}

#wrapper #content h3{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #000;
}

#wrapper #content h4{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#262a2d;
	padding: 0px;
}

#wrapper #content h5{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color: #981e32;
	padding: 0px;
}



.parent{
	color:#981e32;
	font-size: 12px;
}

.date{
	font-size: 10px;
}

blockquote {
	margin-bottom: 0px;
	padding-left:0px;
	margin-top:0px;
}

.videobox{
	width:160px;
	height:70px;
	padding: 0px 0px 10px 0;
	
}

	
/*_______________________  slider-new	_______________________ */
p.clr, .clr {
	 clear:both; 
	 padding:0; 
	 margin:0; 
	 background:none;
}

#slider { 
	 width:731px;
	 padding:20px 20px 0px 20px; 
	 margin:0; 
	 float:left;
}

div#slideshow {
	 float:left;
	 width:731px; 
	 height:250px;
	 overflow:hidden;
}

.slider-item {
	  width:100% !important;
}

.slider-item .caption {
	left:731px;
	 width:180px;
	 position:absolute; 
	 height:250px; top:0; 
	 padding:30px 20px 0px 30px; 
	 margin:0; 
	 background: url(../about/images/overlay.png);
}
#wrapper #content .slider-item .caption h2 {
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:16px;
	text-transform:uppercase;
	color:#dee28c;
	padding:0;
	margin:0;
}

#wrapper #content .slider-item .caption p {
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:12px;
	font-weight:bold;
	color: #fff;
}
	
#wrapper #content .slider-item .caption a{ 
	color:#dee28c;
}

#wrapper #content .slider-item .caption a:hover { 
	color:#fff;
	text-decoration:none;
}

.slider-item img { float:right; margin:0; padding:0;}
.slider_content_inner img { border:none; }
.controls-center { width:731px; margin:0; padding:5px 0;}
#slider_controls { margin:0 auto; z-index:1000; width:731px;}

#slider_controls ul { 
	margin:0; 
	padding:0 20px 0 0;
	width:254px;
	float:right;
}

#slider_controls ul li{ 
	margin:0;
	padding:0; 
	list-style:none;
}

#slider_controls ul li{
	 float:right;
	  display:block;
}
	   
#slider_controls ul li a{
	text-decoration:none; 
	font:normal 11px Arial, Helvetica, sans-serif; 
	color:#797979; 
	background:#f2f2f2;
	border:1px solid #e0e0e0; 
	display:block; 
	float:left; 
	padding:1px 5px; 
	margin:2px !important;
	margin:1px 1px; 
	outline:none;
	}
#slider_controls ul li a:focus { outline:none; }
#slider_controls ul li a:hover,
#slider_controls ul li a.activeSlide { color:#797979; background:#fff; border:1px solid #ececec; }

 
/*_______________________  general	_______________________ */

.img {
	margin-bottom:16px;
}

.img2{
	padding:5px;
}

.img3{
	margin-bottom: 10px;
}

.clearfloats {
	clear:both;
}


#wrapper #content .status{
	color:#981e32 !important;
	font-weight: bold;
	text-decoration: none;
	margin-left: 0px;
}
	
#wrapper #content .status:hover{
		color:#262a2d !important;
}

#content .dots {
    background: none repeat scroll 0 0 transparent;
    border-bottom: 1px dotted #B6BCBF;
    display: block;
    height: auto;
    margin: 15px 0;
    width: auto;
}

.dots2{
	border-bottom:1px dotted #b6bcbf;
	margin:10px 0px 20px px;
}


.play {
	float:left;
	padding:3px 5px 0px 1px;
}


/*_______________________  siteID  _______________________ */

#siteID {
	background:url(../images/bg-siteID.jpg) no-repeat;
	
}

/* nav */
#nav .tags-list a{display:inline-block;}

/*_______________________ toolbar  _______________________ */
#wrapper #toolbar {
	background:url(../images/bg-toolbar.jpg);
}


/*_______________________  Top main  _______________________ */

#top{
	width: 731px;
	height: 250px;
	padding:20px 20px 0px 20px;
	float:left;
}

#top2{
	width: 500px;
	height: 210px;
	padding:20px 0px 0px 20px;
	float:left;
}

.img-main{
	float:left;
}

#top-box{
	background:url(../about/images/secondary_box.png);
	float:right;
	height:185px;
	width:186px;
	padding:25px 20px 0px 25px;
}
.top-box-slide{
	background:url(../about/images/secondary_box.png);
	float:right;
	height:185px;
	width:186px;
	padding:25px 20px 0px 25px;
}


#top-box2{
	background: url(../about/images/secondary_box.png);
	float:left;
	height:185px;
	width:182px;
	padding:25px 20px 0px 29px;
	float:right;
}

/* Nav */
#nav .tags-list a{display:inline-block }


/*_______________________  main  _______________________ */

#wrapper #content #main { 
	margin-top: 15px;
	padding: 0 15px;
	width: 745px;
}
#wrapper  #content  #main ol{
	list-style-type:none;
	padding-top: 0px;
	line-height:0px;
}

#wrapper #content #main ul{
	list-style-type:none;
	padding-top: 0px;
	line-height: 20px;
}


#wrapper #content  #main li{
	margin:6px;
	line-height:0px;
	margin-left:0;
	margin-right:0;
}

#wrapper #content  #main p{
	color:#262b2d;
	line-height: 12px;
}

.col-left {
  width: 210px;
}



/*_______________________ links  _______________________ */

#content #main a:link, #content #secondary a:link {
	color:#262b2d;
}

#content #main a:hover, #content #secondary a:hover {
	color:#981e32;
}



/*_______________________ Main/Secondary <li>  _______________________ */

#wrapper #content #main ul, #wrapper #content #secondary ul {
	list-style-type:none;
	padding:0;
	margin:0;
}


#wrapper #content #main li, #wrapper #content #secondary li {
	margin:3px;
	line-height:20px;
	margin-left:0;
	margin-right:0;
}



/*_______________________  btns  _______________________ */


/* #wrapper #content #main #btn1 a.bg{
	background: url(../about/images/btn1.png);
	display:block;
	color: #333;
	text-decoration:none;
	margin-top:15px;
	padding:8px 0 2px 20px;
	width: 60px;

 }

#wrapper #content #main #btn1  a:hover.bg{
	background: #CCC;
	color: #FFF;
  }
  */
 
#wrapper #content #main #btn1  {
	width: 200px;
	margin: 5px 0px 0px 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	text-decoration:none;
	}
	
#wrapper #content #main #btn1  li a {
	height: 35px;
	text-decoration: none;
	}	
	
#wrapper #content #main #btn1  li a:link, #btn1 li a:visited {
	color: #666;
	display: block;
	padding-top: 16px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 40px;
	text-decoration:none;
	background-image:url(../about/images/btn3.png);
	}
	
#wrapper #content #main #btn1  li a:hover {
	color: #FFF;
	display: block;
	padding: 16px 0 0 40px;
	text-decoration:none;
	background-image: url(../about/images/btn3.png);
	background-position: 0 53px;
	}
 
 
/*_______________________  main list  _______________________ */

#wrapper #content h5 a{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 0px;
	color:#981e32;
	text-decoration:none;
}

.at300bs.at15t_compact{
	background-image:none;
}
.at300bs{
	display:inline;
}



#wrapper #content #main .list{
	/*width:490px;
	padding:10px 0px 10px 0px;
	border-top:;
	float:left;*/
}

#wrapper #main .list6{
	width:470px;
	padding:15px 0px 15px 20px;
	background-color: #CCC;
	float:left;
}

.list1{
	width:180px;
	padding-left: 0px;
	float: left;
}

.list2{
	width:220px;
	margin-left: 40px;
	padding-left: 10px;
	float: left;
}

.list3{
	width:140px;
	margin-left: 14px;
	padding-left: 5px;
	float: left;
}

.list4{
	width:480px;
	float:left;
padding-left:10px;
	
}

.list5{
	width:220px;
	height:220;
	padding-right: 20px;
	float: left
}

.list7{
	width:225px;
	padding-top:8px;
	padding-left:16px;
	float: left;
}

.list8{
	width:470px;
	background-color:#CCC;
	float:left;
	margin-bottom: 10px;
	padding:5px;
}


.list-img {
	float:left;
	width:150px;
	height:75px;
	margin-right:8px;
	margin-bottom:0;
}


/*_______________________  research _______________________ */

.mainblock {
	width:483px;
	background-color:#FFF;
	padding:10px 0 0px 0px;
	margin-top:10px; 
	border:1px solid #e1e1e1; 
	float:left;
}

.maincolumn {
	width:483px; 
	padding:0px 0 0px 0px;
	margin-top:0px; 
	float:left;}

.columnl { 
	width:218px; 
	padding:0px 20px 0px 0px;
	margin: 0px 0px 0px 0px;
	border:0px solid #e1e1e1; 
	float:left;
	}

.columnr { 
	width:218px; 
	padding:0px 0px 0px 20px; 
	margin-top:0px; 
	border-left:1px dotted #e1e1e1; 
	float:left;
	}

.image2{
	height: 110px;
	width: 235px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px0px;
}
.image3{
	height: 250px;
	width: 235px;
	float: left;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px0px;
}
		

/*-----NEWS-------------*/
/*What's New*/
#news{
	margin:0;
}
#news a {
	font-weight:normal;
	color:#5e6a71;
}
#news ul li.emph a{
	font-weight:bold;
	color:#981e32;
	padding-right:0;
}
#sec #news ul li.highlight{
	font-weight:bold;
	color:#b6bf00;
	padding:0;
	margin:0 10px 0 0;
}
#news ul li{

}
#moostick{
	margin-top: 10px !important;
}

#moostick, .moostick{
}
ul #moostick{

}
#moostick li, .moostick li{
	list-style: disc;
		margin-left: 20px !important;
		
}

#moostick .show, .moostick .show{
	visibility: visible;
	opacity: 1;
}
	
.txtbox{
	width:210px; 
	padding:10px 0px 0px 10px; 
	margin-top:0px; 
	border-left:; 
	float:left;
	}
	

.body_resize { margin:0; padding:0;}


.right {
	width:280px; 
	float:left;
	margin:0; 
	padding:20px 15px;
}
.left { width:620px; float:left; margin:0; padding:20px 15px;}
.block { width:140px; float:left; margin:0; padding:5px 10px;}
.port_resize { width:290px; float:left; margin:0; padding:20px 15px;}

.port2{ width:225px; float:left; padding:5px 10px; margin:0;}
	

.port { width:140px; float:left; padding:5px 10px; margin:0; border-right:1px solid #e1e1e1;}
.port.last { width:270px; border:0;}

/*_______________________ quick facts _______________________ */

.table{
	width:730px;
}

.margin{
	height: 50px;
	width: 60px;
	margin-left:100px;
	float:left;
}

.icon{
	width:80px;
	padding:25px 0px 0px 0px;
	float:left;
}



.spacey{
	width:730px;
	float:left;
	}
	
.spacey1{
	width:580px;
	padding-left:150px;
	float:left;
}


.spacey2{
	width:580px;
	padding-left:150px;
	float:left;
}

.spacey3{
	width:730px;
	margin-left:;
	float:left;
}



.spacey4{
	width:80px;
	padding:25px 0px 0px 0px;
	float:left;
}

.spacey5{
	width:200px;
	float:left;

}

.spacey6{
	width:300px;
	float:left;

}

.smalltxt{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:10px;
	color:#999;
	text-align:center;
	width:75px;
	float:left;
}

.medtxt{
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:24px;
	color: #999;
	text-align:center;
	width:75px;
	letter-spacing:-2px;
	float:left;
}

.lgtxt{
width: 180px;
margin-right: 20px;
	font:Arial, Helvetica, sans-serif;
	font-size:70px;
	color: #09F;
	letter-spacing:-10px;
	float: left;
}

.lgtxt2{
width: 140px;
margin-right: 20px;
	font:Arial, Helvetica, sans-serif;
	font-size:70px;
	color: #F0C;
	letter-spacing:-10px;
	float: left;
}

.blk1{
	width: 500px;
	margin-left: 180px;
	float:left;
}

.blk2{
	width: 300px;
	height:150px;
		margin-left: 25px;
	border-right: dotted 1px #999;
	float:left;
}

.blk3{
	width: 160px;
	height: 140px;
	margin-left: 20px;
	
	float:left;
}
.blk4{
	margin-top: 25px;
	width: 200px;
	height: 100px;
	margin-left: 10px;
	
	float:left;
}

.blk5{
	width: 300px;
	height: 100px;
	margin-left: 10px;
	
	float:left;
}


.title{
	font:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	margin:10px 10px 10px 15px;
	font-size:18px;
	line-height:20px;
	color: #666;
	padding: 0px;
	float:left;
}



.img5{
	margin: 0px 20px -3px 0px;
}





/*_______________________  End Research _______________________ */

#wrapper #content #main .list .list-img-coug {
	height: 130px;
	width:150px;
	float:left;
}
.list-img1 {
	float:left;
	width:160px;
	height:90px;
	margin-right:8px;
	margin-bottom:0;
}

.list-img2 {
	float:left;
	width:250px;
	height:75px;
	margin-right:8px;
	margin-bottom:0;
}

#wrapper #content #main .list .list-img-1 {
	height:117px;
	width:233px;
	float:left;
}

#wrapper #content #main .list .list-img-2 {
	height:100px;
	width:154px;
	float:left;
}

-->
.content {
	width:321px;
	padding:8px 8px 0 8px;
	background:url(../images/list-fade.jpg) repeat-x;
	float:left;
}
.content1 {
	width:220px;
	padding:0px 8px 15px 15px;
	background:;
	float:left;
}

.content2 {
	width:485px;
	padding:0px 0px 0px 0px;
	background:;
	float:left;
}

.content3 {
	width:280px;
	padding:0px 8px 0px 15px;
	background:;
	float:left;
}

.container1{
	width:160px;
	height: 90px;
	float:left;
}
.space1{
	width:140px;
	padding: 10px;
	float:left;
}
.space2{
	width:300px;

	padding-left:20px;
	float:left;
}
.space3{
	width:320px;
	height: 20px;
	float:left;
}	
.space4{
	width:300px;
	padding-left:20px;

	float:left;}
	
/**********special typography**********************/


#wrapper #content p.boxy{
	text-decoration:none;
	color: #CCC;
	font-size:12px;
	line-height:16px;
}

#wrapper #content p.qf{
	font-size:12px;
}
	
	
	
#main .list .nophoto {

	width:479px;
	padding:8px 8px 0px 8px;
	background:url(../images/list-fade.jpg) repeat-x;
	float:left;
}

#wrapper #content h3.daboxy{
	font-family:"Times New Roman", Times, serif;
	font-weight:bold;
	font-size:20px;
	line-height: 20px;
	padding-bottom:8px;
	color: #FFF;
}

#wrapper #content a.blinky {
	color:#FC3;
	
}
#wrapper #content a:hover.blinky  {
	color: #099;
	
}

	


/*_______________________  main1  _______________________ */

#wrapper #content  #main1 {
	padding-right:15px;
	width:231px;
	float:left;
}

/*_______________________  main2  _______________________ */

#wrapper #content  #main2 {
	width:210px;
	height:inherit;
	padding-left:20px;
	border-left:1px dotted #b6bcbf;
	float:left;
}

#wrapper #content #main3 {
	width:730px;
	height:inherit;
	padding:20px 20px 0px 20px;
	margin-left:0px;
	/*border:1px dotted #b6bcbf;*/
	float:left;
}


/*_______________________  secondary  _______________________ */


#wrapper #content #secondary{
	width:188px;
	padding-top:0px;
	margin-top: 30px;
	/*border-left:1px dotted #b6bcbf;*/
	background:none;
	margin-left:0px;
}

/*_______________________  slider  _______________________ */



/*dropdowns*/
.sm-box {
	width:70px;
	margin:0 0 0 10px;
	float:left;
	color:#faf8f3;
}
#wrapper #content #main #main-right ul{
	margin:0;
	padding:0;
	list-style:none;
}
#wrapper #content #main #main-right li{
	margin:0;
	padding:3px 0;
	line-height:1.2em;
}
#wrapper #content #main #main-right ul.schedule{
	color:#5e6a71;
}
.expand{
	background:#fff;
	padding:10px 10px;
	font-size:.85em;
	border:1px solid #e7e9ea;
	border-top:none;
	margin-bottom:1px;
}
#wrapper #content a.v_toggle{
	background: #999;
	display:block;
	color:#fff;
	text-decoration:none;
	margin-top:1px;
	padding:5px 0;
	padding-left:10px;
}
#wrapper #content a:hover.v_toggle{
	background:#981e32;
	color:#fff;
}

#wrapper #content a.v_toggles{
	background: #666;
	display:block;
	color:#900300;
	text-decoration:none;
	margin-top:1px;
	padding:5px 0;
	padding-left:0px;
}


a.status {
	font-size:12px;
	text-decoration:none;
}


/*_______________________  Follow us dropdown (toolbar)  _______________________ */
#ddwrap2 {
	width:130px;
	margin:0px 0 0 552px;
	padding:0;
	z-index: 5000;
	*display: none;
}
#global li img {
	padding-top: 2px;
}
#dropdown2 {
	position:absolute;
	width:130px;
	padding:0;
	margin:0;
}
#dropdown2 ul {
	width:130px;
	padding:0;
	margin:0;
}
#dropdown2 li {
	padding:0 0px 5px 0;
	margin: 0;
}
#dropdown2 li a{
	display:block;
	padding-right: 10px;
}
#dropdown2 li a:hover {
	color:#981e32;
}
#dropdown2 ul .top {
	width:120px;
	display: block;
	padding-bottom:8px;
	font-weight:bold;
	text-align:right;
}
#dropdown2 img {
	border:none;
}
#dropdown2 ul .top a {
	color: #5e6a71;
	margin-right: 5px;
}

#dropdown2 ul .item, #dropdown2 ul .last, #dropdown2 ul .first  {
	display:none;
	width:90px;
	background:#FFF;
	padding-left:10px;
	border:1px solid #e7e9ea;
	border-bottom:none;
	border-top:none;
	margin-left:0px;
}
#dropdown2 ul .first {
	border:none;
	padding-left:11px;
	padding-right:1px;
	background:url(http://images.wsu.edu/index-images/dropdown-top-bg.jpg) no-repeat bottom;
}
#dropdown2 ul .last {
	border-bottom:1px solid #e7e9ea;
	padding-bottom:8px;
}
.twitter, .facebook, .youtube, .flickr, .itunes, .blogs, .rss{
	padding-left:24px;
	height:20px;
}
.twitter {
	background:url(http://images.wsu.edu/index-images/icons/twitter-16x16.jpg) no-repeat;
}
.twitter:hover {
	background:url(http://images.wsu.edu/index-images/icons/twitter2-16x16.jpg) no-repeat;
}
.youtube {
	background:url(http://images.wsu.edu/index-images/icons/youtube-16x16.jpg) no-repeat;
}
.youtube:hover {
	background:url(http://images.wsu.edu/index-images/icons/youtube2-16x16.jpg) no-repeat;
}
.blogs {
	background:url(http://images.wsu.edu/index-images/icons/blog-16x16.jpg) no-repeat;
}
.blogs:hover {
	background:url(http://images.wsu.edu/index-images/icons/blog2-16x16.jpg) no-repeat;
}

.itunes {
	background:url(http://images.wsu.edu/index-images/icons/itunes-16x16.jpg) no-repeat;
}
.itunes:hover {
	background:url(http://images.wsu.edu/index-images/icons/itunes2-16x16.jpg) no-repeat;
}
.facebook {
	background:url(http://images.wsu.edu/index-images/icons/facebook-16x16.jpg) no-repeat;
}
.facebook:hover {
	background:url(http://images.wsu.edu/index-images/icons/facebook2-16x16.jpg) no-repeat;
}

/*This makes the display none visible on rollover*/
#dropdown2 ul:hover .item,  #dropdown2 ul:hover .last, #dropdown2 ul:hover .first  {
	display:block;
}




/*Firefox fix for the follow us drop downs in toolbar*/
@-moz-document url-prefix() {
	#ddwrap2 {
		margin:-20px 0 0 550px;
		padding:0;

		
	}
	
	
/* ______________ Add this */

.atitem{
	background: #0F0 !important;
	float: left;
	width: 50px;
}


#wrapper #content #localfooter ul{ list-style:none;display:inline;}
#wrapper #content #localfooter li{ display:inline-block; margin-left:9px;}

#wrapper #nav .tags-list a{display:inline;}
.block .block-content dl{    }
.block .block-content dt{}
.block .block-content dd{border-bottom: 1px solid #DDDDDD;
    margin-left: 0;
    padding: 0 0 8px;}
.block .block-content dd ol{margin:0px;padding:0px;}


