.layoutframeworkPreview {
  /* Set up for row-at-* and column-at ----------- */
}



.layoutframeworkPreview .column img:not(.unscaled), .layoutframeworkPreview .column:not(.unscale) img, .layoutframeworkPreview .row:not(.unscale) .column img {
    max-width: 100%;
    height: auto;
}

.layoutframeworkPreview .product-image img {
    width: 100%;
}
/*
.layoutframeworkPreview .sortable{
	border:1px dashed yellow;
	position:relative;
}

.layoutframeworkPreview .sortable:before{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	position:absolute;
	top:0px;
	right:0px;
	content: "\f0fe";
	width:16px;
	height:16px;
	font-size:16px;
	line-height:16px;
}


.layoutframeworkPreview .sortable:hover{
	border:1px dashed red;
}*/

#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul {
    text-align:left;


}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul ul,
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul dl{
	padding-left:15px
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label{
    width:250px;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b{
	cursor:pointer;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b:hover{
	color:#981e32;
}


#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float:left;
	content: "\f196";
	width:16px;
	height:16px;
	font-size:16px;
	line-height: 27px;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b.open:before{
	content: "\f146";
}
td.label span.parent_option{
    display:block;
    padding-left:15px;
    cursor:pointer;
}
td.label span.parent_option:hover{
    color: #5D5D5D;
}
td.label span.parent_option:before {
    	display: inline-block;
    	font: normal normal normal 14px/1 FontAwesome;
    	text-rendering: auto;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	float:left;
    	content: "\f085";
    	width:16px;
    	height:16px;
    	font-size:16px;
    	line-height: 27px;
    	margin-right: 5px;
}
td.label span.parent_option:hover:before {
	color: #A91313;
}
