.layoutframeworkPreview {
  /* Set up for row-at-* and column-at ----------- */
}


.layoutframeworkPreview .column img:not(.unscaled), .layoutframeworkPreview .column:not(.unscale) img, .layoutframeworkPreview .row:not(.unscale) .column img {
    max-width: 100%;
    height: auto;
}

.layoutframeworkPreview .product-image img {
    width: 100%;
}
/*
.layoutframeworkPreview .sortable{
	border:1px dashed yellow;
	position:relative;
}

.layoutframeworkPreview .sortable:before{
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	position:absolute;
	top:0px;
	right:0px;
	content: "\f0fe";
	width:16px;
	height:16px;
	font-size:16px;
	line-height:16px;
}


.layoutframeworkPreview .sortable:hover{
	border:1px dashed red;
}*/

#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul {
    text-align:left;


}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul ul,
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label ul dl{
	padding-left:15px
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label{
    width:250px;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b{
	cursor:pointer;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b:hover{
	color:#981e32;
}


#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b:before{
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	float:left;
	content: "\f196";
	width:16px;
	height:16px;
	font-size:16px;
	line-height: 27px;
}
#row_wsu_themecontrol_layout_catalog_product_view_productviewlayout td.label b.open:before{
	content: "\f146";
}
td.label span.parent_option{
    display:block;
    padding-left:15px;
    cursor:pointer;
}
td.label span.parent_option:hover{
    color: #5D5D5D;
}
td.label span.parent_option:before {
    	display: inline-block;
    	font: normal normal normal 14px/1 FontAwesome;
    	text-rendering: auto;
    	-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	float:left;
    	content: "\f085";
    	width:16px;
    	height:16px;
    	font-size:16px;
    	line-height: 27px;
    	margin-right: 5px;
}
td.label span.parent_option:hover:before {
	color: #A91313;
}


.layoutframeworkPreview .row-reverse,
.layoutframeworkPreview .column-reverse,
.layoutframeworkPreview .flex-row,
.layoutframeworkPreview .flex-column {
  -js-display: -webkit-box;
  -js-display: -webkit-flex;
  -js-display: -ms-flexbox;
  -js-display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.layoutframeworkPreview .flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}
.layoutframeworkPreview .row-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.layoutframeworkPreview .flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
.layoutframeworkPreview .column-reverse {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
.layoutframeworkPreview .wrap {
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.layoutframeworkPreview .nowrap {
  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
}
.layoutframeworkPreview .wrap-reverse {
  -webkit-flex-wrap: wrap-reverse;
      -ms-flex-wrap: wrap-reverse;
          flex-wrap: wrap-reverse;
}
.layoutframeworkPreview .justify-start {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.layoutframeworkPreview .justify-end {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.layoutframeworkPreview .justify-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.layoutframeworkPreview .justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.layoutframeworkPreview .justify-around {
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
}
.layoutframeworkPreview .content-start {
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.layoutframeworkPreview .content-end {
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
}
.layoutframeworkPreview .content-center {
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
}
.layoutframeworkPreview .content-baseline {
  -webkit-align-content: baseline;
      -ms-flex-line-pack: baseline;
          align-content: baseline;
}
.layoutframeworkPreview .content-end {
  -webkit-align-content: stretch;
      -ms-flex-line-pack: stretch;
          align-content: stretch;
}
.layoutframeworkPreview .items-start {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.layoutframeworkPreview .items-end {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.layoutframeworkPreview .items-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.layoutframeworkPreview .items-baseline {
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.layoutframeworkPreview .items-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.layoutframeworkPreview .order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
}
.layoutframeworkPreview .order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2;
}
.layoutframeworkPreview .order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3;
}
.layoutframeworkPreview .order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
      -ms-flex-order: 4;
          order: 4;
}
.layoutframeworkPreview .order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
      -ms-flex-order: 5;
          order: 5;
}
.layoutframeworkPreview .order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
      -ms-flex-order: 6;
          order: 6;
}
.layoutframeworkPreview .order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
      -ms-flex-order: 7;
          order: 7;
}
.layoutframeworkPreview .order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
      -ms-flex-order: 8;
          order: 8;
}
.layoutframeworkPreview .order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
      -ms-flex-order: 9;
          order: 9;
}
.layoutframeworkPreview .order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
      -ms-flex-order: 10;
          order: 10;
}
.layoutframeworkPreview .order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
      -ms-flex-order: 11;
          order: 11;
}
.layoutframeworkPreview .order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
      -ms-flex-order: 12;
          order: 12;
}
@media only screen and (max-width: 320px) {
  .layoutframeworkPreview .row-at-320 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-320 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-320 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-320 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 480px) {
  .layoutframeworkPreview .row-at-480 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-480 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-480 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-480 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 768px) {
  .layoutframeworkPreview .row-at-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1024px) {
  .layoutframeworkPreview .row-at-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-768 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-768 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 100px) {
  .layoutframeworkPreview .row-at-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 150px) {
  .layoutframeworkPreview .row-at-150 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-150 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-150 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-150 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 200px) {
  .layoutframeworkPreview .row-at-200 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-200 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 250px) {
  .layoutframeworkPreview .row-at-250 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-250 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-250 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-250 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 300px) {
  .layoutframeworkPreview .row-at-300 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-300 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-300 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-300 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 350px) {
  .layoutframeworkPreview .row-at-350 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-350 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-350 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-350 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 400px) {
  .layoutframeworkPreview .row-at-400 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-400 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-400 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-400 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 450px) {
  .layoutframeworkPreview .row-at-450 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-450 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-450 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-450 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 500px) {
  .layoutframeworkPreview .row-at-500 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-500 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-500 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-500 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 550px) {
  .layoutframeworkPreview .row-at-550 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-550 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-550 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-550 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 600px) {
  .layoutframeworkPreview .row-at-600 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-600 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-600 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-600 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 650px) {
  .layoutframeworkPreview .row-at-650 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-650 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-650 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-650 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 700px) {
  .layoutframeworkPreview .row-at-700 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-700 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-700 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-700 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 750px) {
  .layoutframeworkPreview .row-at-750 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-750 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-750 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-750 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 800px) {
  .layoutframeworkPreview .row-at-800 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-800 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-800 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-800 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 850px) {
  .layoutframeworkPreview .row-at-850 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-850 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-850 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-850 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 900px) {
  .layoutframeworkPreview .row-at-900 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-900 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-900 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-900 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 950px) {
  .layoutframeworkPreview .row-at-950 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-950 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-950 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-950 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1000px) {
  .layoutframeworkPreview .row-at-1000 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-1000 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-1000 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-1000 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1050px) {
  .layoutframeworkPreview .row-at-1050 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-1050 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-1050 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-1050 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1100px) {
  .layoutframeworkPreview .row-at-1100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-1100 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-1100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-1100 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1150px) {
  .layoutframeworkPreview .row-at-1150 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-1150 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-1150 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-1150 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1200px) {
  .layoutframeworkPreview .row-at-1200 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .layoutframeworkPreview .row-reverse-at-1200 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .layoutframeworkPreview .column-at-1200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .layoutframeworkPreview .column-reverse-at-1200 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.layoutframeworkPreview .grid-part {
  padding: 5px;
  box-sizing: border-box;
}
.layoutframeworkPreview .thirds-1 {
  width: 33.33333%;
}
.layoutframeworkPreview .thirds-2 {
  width: 66.66667%;
}
.layoutframeworkPreview .thirds-3 {
  width: 100%;
}
.layoutframeworkPreview .fourths-1 {
  width: 25%;
}
.layoutframeworkPreview .fourths-2 {
  width: 50%;
}
.layoutframeworkPreview .fourths-3 {
  width: 75%;
}
.layoutframeworkPreview .fourths-4 {
  width: 100%;
}
.layoutframeworkPreview .fifths-1 {
  width: 20%;
}
.layoutframeworkPreview .fifths-2 {
  width: 40%;
}
.layoutframeworkPreview .fifths-3 {
  width: 60%;
}
.layoutframeworkPreview .fifths-4 {
  width: 80%;
}
.layoutframeworkPreview .fifths-5 {
  width: 100%;
}
.layoutframeworkPreview .sixths-1 {
  width: 16.66667%;
}
.layoutframeworkPreview .sixths-2 {
  width: 33.33333%;
}
.layoutframeworkPreview .sixths-3 {
  width: 50%;
}
.layoutframeworkPreview .sixths-4 {
  width: 66.66667%;
}
.layoutframeworkPreview .sixths-5 {
  width: 83.33333%;
}
.layoutframeworkPreview .sixths-6 {
  width: 100%;
}
.layoutframeworkPreview .eigths-1 {
  width: 12.5%;
}
.layoutframeworkPreview .eigths-2 {
  width: 25%;
}
.layoutframeworkPreview .eigths-3 {
  width: 37.5%;
}
.layoutframeworkPreview .eigths-4 {
  width: 50%;
}
.layoutframeworkPreview .eigths-5 {
  width: 62.5%;
}
.layoutframeworkPreview .eigths-6 {
  width: 75%;
}
.layoutframeworkPreview .eigths-7 {
  width: 87.5%;
}
.layoutframeworkPreview .eigths-8 {
  width: 100%;
}
.layoutframeworkPreview .ninths-1 {
  width: 11.11111%;
}
.layoutframeworkPreview .ninths-2 {
  width: 22.22222%;
}
.layoutframeworkPreview .ninths-3 {
  width: 33.33333%;
}
.layoutframeworkPreview .ninths-4 {
  width: 44.44444%;
}
.layoutframeworkPreview .ninths-5 {
  width: 55.55556%;
}
.layoutframeworkPreview .ninths-6 {
  width: 66.66667%;
}
.layoutframeworkPreview .ninths-7 {
  width: 77.77778%;
}
.layoutframeworkPreview .ninths-8 {
  width: 88.88889%;
}
.layoutframeworkPreview .ninths-9 {
  width: 100%;
}
.layoutframeworkPreview .tenths-1 {
  width: 10%;
}
.layoutframeworkPreview .tenths-2 {
  width: 20%;
}
.layoutframeworkPreview .tenths-3 {
  width: 30%;
}
.layoutframeworkPreview .tenths-4 {
  width: 40%;
}
.layoutframeworkPreview .tenths-5 {
  width: 50%;
}
.layoutframeworkPreview .tenths-6 {
  width: 60%;
}
.layoutframeworkPreview .tenths-7 {
  width: 70%;
}
.layoutframeworkPreview .tenths-8 {
  width: 80%;
}
.layoutframeworkPreview .tenths-9 {
  width: 90%;
}
.layoutframeworkPreview .tenths-10 {
  width: 100%;
}
.layoutframeworkPreview .twelfths-1 {
  width: 8.33333%;
}
.layoutframeworkPreview .twelfths-2 {
  width: 16.66667%;
}
.layoutframeworkPreview .twelfths-3 {
  width: 25%;
}
.layoutframeworkPreview .twelfths-4 {
  width: 33.33333%;
}
.layoutframeworkPreview .twelfths-5 {
  width: 41.66667%;
}
.layoutframeworkPreview .twelfths-6 {
  width: 50%;
}
.layoutframeworkPreview .twelfths-7 {
  width: 58.33333%;
}
.layoutframeworkPreview .twelfths-8 {
  width: 66.66667%;
}
.layoutframeworkPreview .twelfths-9 {
  width: 75%;
}
.layoutframeworkPreview .twelfths-10 {
  width: 83.33333%;
}
.layoutframeworkPreview .twelfths-11 {
  width: 91.66667%;
}
.layoutframeworkPreview .twelfths-12 {
  width: 100%;
}
@media only screen and (max-width: 100px) {
  .layoutframeworkPreview .full-width-at-100 {
    width: 100%;
  }
}
@media only screen and (max-width: 150px) {
  .layoutframeworkPreview .full-width-at-150 {
    width: 100%;
  }
}
@media only screen and (max-width: 200px) {
  .layoutframeworkPreview .full-width-at-200 {
    width: 100%;
  }
}
@media only screen and (max-width: 250px) {
  .layoutframeworkPreview .full-width-at-250 {
    width: 100%;
  }
}
@media only screen and (max-width: 300px) {
  .layoutframeworkPreview .full-width-at-300 {
    width: 100%;
  }
}
@media only screen and (max-width: 320px) {
  .layoutframeworkPreview .full-width-at-320 {
    width: 100%;
  }
}
@media only screen and (max-width: 350px) {
  .layoutframeworkPreview .full-width-at-350 {
    width: 100%;
  }
}
@media only screen and (max-width: 400px) {
  .layoutframeworkPreview .full-width-at-400 {
    width: 100%;
  }
}
@media only screen and (max-width: 450px) {
  .layoutframeworkPreview .full-width-at-450 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .layoutframeworkPreview .full-width-at-480 {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .layoutframeworkPreview .full-width-at-500 {
    width: 100%;
  }
}
@media only screen and (max-width: 550px) {
  .layoutframeworkPreview .full-width-at-550 {
    width: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .layoutframeworkPreview .full-width-at-600 {
    width: 100%;
  }
}
@media only screen and (max-width: 650px) {
  .layoutframeworkPreview .full-width-at-650 {
    width: 100%;
  }
}
@media only screen and (max-width: 700px) {
  .layoutframeworkPreview .full-width-at-700 {
    width: 100%;
  }
}
@media only screen and (max-width: 750px) {
  .layoutframeworkPreview .full-width-at-750 {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .layoutframeworkPreview .full-width-at-768 {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .layoutframeworkPreview .full-width-at-800 {
    width: 100%;
  }
}
@media only screen and (max-width: 850px) {
  .layoutframeworkPreview .full-width-at-850 {
    width: 100%;
  }
}
@media only screen and (max-width: 900px) {
  .layoutframeworkPreview .full-width-at-900 {
    width: 100%;
  }
}
@media only screen and (max-width: 950px) {
  .layoutframeworkPreview .full-width-at-950 {
    width: 100%;
  }
}
@media only screen and (max-width: 1000px) {
  .layoutframeworkPreview .full-width-at-1000 {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) {
  .layoutframeworkPreview .full-width-at-1024 {
    width: 100%;
  }
}
@media only screen and (max-width: 1050px) {
  .layoutframeworkPreview .full-width-at-1050 {
    width: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  .layoutframeworkPreview .full-width-at-1100 {
    width: 100%;
  }
}
@media only screen and (max-width: 1150px) {
  .layoutframeworkPreview .full-width-at-1150 {
    width: 100%;
  }
}
@media only screen and (max-width: 1200px) {
  .layoutframeworkPreview .full-width-at-1200 {
    width: 100%;
  }
}
