/* CSS Document */
/* you'd copy this and that but don't add to the base it'll get wipped */
/* CSS Document */
/* you'd copy this and that but don't add to the base it'll get wipped */


.validation_overlay{
	display:none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
}
.validation_overlay.active{
	display:block;
}
.access_form {
	background-color: #ffb81c;
	border-radius: 5px;
	left: 50%;
	margin-left: -17.5%;
	margin-top: -6.25%;
	min-height: 55px;
	padding: 0 15px;
	position: absolute;
	text-align: center;
	top: 27%;
	width: 30%;
	z-index: 11;
}

/* CART */
.cart .totals {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  padding: 0;
}




/* for the moment REMEBER to remove */
.opc-wrapper-opc .buttons-set .button span,
.opc-wrapper-opc .discount-block .buttons-set .button span {
	background:transparent none;
	border-radius: 3px;
	height: 45px;
	line-height: 15px !important;
	padding: 0 !important;
	width: 100%;
}
.opc-wrapper-opc .buttons-set .button span span,
.opc-wrapper-opc .discount-block .buttons-set .button span span {
	background:transparent none;
	color: #494949 !important;
	font-size: 18px;
	font-weight: bold;
	text-shadow: 0 1px 1px #02484f;
	text-transform: uppercase;
}

.shipping-method-block{position:absolute !important; top:-9999em  !important; left:-9999em  !important;}
* .opc-wrapper-opc .payment-block { margin-top:0px !important;}

#check_out_products {
	background-color: #3f6b72;
	color: #e5e5e5;
	font-size: 1.25em;
	font-weight: bold;
	text-align: center;
}

#check_out_products.fixed {z-index: 9;position: fixed;bottom: 5px;}

#check_out_products:hover{background-color:#00a5bd;}
#mass_products{position:relative;}
