<?xml version="1.0"?>
<config>
    <skin>{{$SKIN}}</skin>
    <report>
        <!-- print|email -->
        <action>{{$ACTION}}</action>
        <!-- email subject -->
        <subject>{{$SUBJECT}}</subject>
        <email_address>{{$EMAIL}}</email_address>
        <!-- leave|delete e.g. delete or leave on disk-->
        <trash>{{$TRASH}}</trash>
    </report>
</config>
